// kill default top padding of 10px
td.wrapper {
  padding-top: 0;
}

table.columns td,
table.column td {
  padding: 0;
}

// kill 10px all over padding to simplify things
//.block-grid td {
//  padding: 0;
//}

// font / line height stuff
body, table.body, h1, h2, h3, h4, h5, h6, p, td {
  color: $base-font-color;
  font-family: $base-font-family;
  line-height: 1;
}

p, h1, h2, h3, h4 {
  margin-bottom: $font-xxs;
}

h1 {
  font-size: $font-xxl;
}

h2 {
  font-size: $font-xl;
}

h3 {
  font-size: $font-lg;
}

h4 {
  font-size: $font-med
}

h5 {
  font-size: 44px;
}

h6 {
  font-size: 66px;
}

body, table.body, p, td {
  font-size: $font-med;
  line-height: 1.4;
}

// change button stuff
table.button td,
table.tiny-button td,
table.small-button td,
table.medium-button td,
table.large-button td {
  display: block;
  width: auto !important;
  text-align: center;
  background: $bat-color-pillar-box;
  border: 1px solid $bat-color-pillar-box;
  color: #ffffff;
  padding: 12px 0;
}

//table.button:hover td,
//table.button:visited td,
//table.button:active td {
//  background: $bat-color-pillar-box-dark !important;
//}
//
//table.button:hover td a,
//table.button:visited td a,
//table.button:active td a {
//  color: #fff !important;
//}

//table.button:hover td,
//table.tiny-button:hover td,
//table.small-button:hover td,
//table.medium-button:hover td,
//table.large-button:hover td {
//  background: $bat-color-pillar-box-dark !important;
//}

.lead, p.lead, p.lede, p.leed {
  font-size: $font-med + 2;
  line-height: 1.4;
}

table.secondary td {
  background: $bat-color-french-blue;
  border-color: $bat-color-french-blue;
  color: $bat-color-white;
}

table.secondary td a {
  color: $bat-color-white;
}

//table.secondary:hover td {
//  background: $bat-color-french-blue-dark !important;
//  color: $bat-color-white;
//}
//
//table.secondary:hover td a,
//table.secondary td a:visited,
//table.secondary:active td a {
//  color: $bat-color-white !important;
//}

table.columns .text-pad,
table.column .text-pad {
  padding-left: $base-padding;
  padding-right: $base-padding;
}

table.columns .left-text-pad,
table.columns .text-pad-left,
table.column .left-text-pad,
table.column .text-pad-left {
  padding-left: $base-padding;
}

table.columns .right-text-pad,
table.columns .text-pad-right,
table.column .right-text-pad,
table.column .text-pad-right {
  padding-right: $base-padding;
}



