// GENERIC STUFF

.ExternalClass * {
  line-height: 100%;
} 

.ExternalClass p {
  line-height: 100%;
} 

body, .body {
  background: $bat-color-graphite;
}

.divider {
  background: transparent;
  height: 10px;
  min-height: 10px;
  max-height: 10px;
}

.divider-double {
  background: transparent;
  height: $lg-padding;
  min-height: $lg-padding;
  max-height: $lg-padding;
}

// OVERRIDES
table.columns .text-pad-zero, td.text-pad-zero, .text-pad-zero {
  padding: 0;
}

table.columns td.text-pad-top-zero, .text-pad-top-zero {
  padding-top: 0;
}

table.columns td.text-pad-right-zero, .text-pad-right-zero {
  padding-right: 0;
}

table.columns td.text-pad-bottom-zero, .text-pad-bottom-zero {
  padding-bottom: 0;
}

table.columns td.text-pad-left-zero, .text-pad-left-zero {
  padding-left: 0;
}

table.columns .text-pad-bottom {
  padding-bottom: $base-padding;
}

table.columns .text-pad-top {
  padding-top: $base-padding;
}

table.columns .text-pad-top-lg {
  padding-top: $lg-padding;
}


// new padding sizes not defined in Zurb INK

table.columns .text-pad-xs {
  padding-left: $xs-padding;
  padding-right: $xs-padding;
}

table.columns .text-pad-right-xs {
  padding-right: $xs-padding;
}

table.columns .text-pad-sm {
  padding-left: $sm-padding;
  padding-right: $sm-padding;
}

table.columns .text-pad-lg {
  padding-left: $lg-padding;
  padding-right: $lg-padding;
}

table.columns .text-pad-full {
  padding-top: $base-padding;
  padding-right: $base-padding;
  padding-bottom: $base-padding;
  padding-left: $base-padding; 
}

// STAR DEAL STYLES

// header
// strapline

// header text
.mod-header-text td, .mod-header-text h2, .mod-header-text h3, .mod-header-text a {line-height: 1;}

.mod-header-text h2 {
  color: $bat-color-french-blue-light;
}

.mod-header-text h2 a {
  color: $bat-color-french-blue-light;
}

.mod-header-text a:hover h2 {
  color: $bat-color-french-blue-light;
}

.mod-header-text:hover h2 a,
.mod-header-text h2 a:visited,
.mod-header-text:active h2 a {
  color: $bat-color-french-blue-light !important;
}

//
.mod-header-text h3 {
  color: $bat-color-white;
}

.mod-header-text h3 a {
  color: $bat-color-white;
}

.mod-header-text a:hover h3 {
  color: $bat-color-white;
}

.mod-header-text:hover h3 a,
.mod-header-text h3 a:visited,
.mod-header-text:active h3 a {
  color: $bat-color-white !important;
}
// buttons
// hero image

// desc
table.mod-desc tr td {
  padding: 15px;
}
// book and view buttons
// stars and number of reviews text
table.mod-review td.review-stars {
  padding: 5px 0 5px 15px;
}

table.mod-review td.review-number {
  padding: 0 0 5px 15px;
}
// quote
.mod-quote span.quote-text, .mod-quote td.quote-text-td {
  color: $bat-color-light-gray;
  font-family: $secondary-font-family;
  font-style: italic;
}

table.mod-quote td.quote-text-td {
  padding-left: 15px;
  padding-right: 15px;
}

table.mod-quote span.quote-text {
  border-left: 5px solid $bat-color-gold;
  display: block;
  padding-left: 10px;
}

// padding is not supported on p tags in outlook 07/10/13  see: https://www.emailonacid.com/blog/details/C13/7_tips_and_tricks_regarding_margins_and_padding_in_html_emails
table.mod-quote span.quote-text {
  margin-bottom: 0;
  margin: 0;
  margin-left: 0;
  margin-right: 0;
}

// menu
table.mod-menu {
  width: 265px;
}

table.mod-menu tr td {
  padding: 15px;
}
// menu button

// terms
table.mod-terms tr td.mod-terms-title {
  padding: 15px 15px 0 15px;
}

table.mod-terms tr td.mod-terms-text {
  padding: 0 15px 15px 15px;
}

// banner
// make sure there are no ugly gaps which manifest themselves on linked images
.mod-banner-td, .mod-banner-img, .mod-banner-a {
  line-height: 1;
}
.mod-banner-img {
  width:460px;
  height:56px;
}

// preference center
table.mod-pref {
  border: 1px solid $bat-color-white;
}

// removed because broken in outlook
table.mod-pref tr td.mod-pref-para {
  padding: 0 15px 15px 15px;
}

table.mod-pref tr td.mod-pref-para.first {
  padding: 15px 15px 15px 15px;
}

// footer icons
// footer text
td.footer-text {
  font-size: $font-sm;
  padding-top: $base-padding;
}
.footer-text {
  color: $bat-color-graphite-light;
}

// THEMES
.theme-french {
  background: $bat-color-french-blue;
}

.theme-french-lighter {
  background: $bat-color-french-blue-lighter;
}

.theme-cerulean {
  background: $bat-color-cerulean;
}

.theme-gold {
  background: $bat-color-gold;
}

.theme-graphite {
  background: $bat-color-graphite;
}

.theme-lemon {
  background: $lemon-color;
}

.theme-pillar-box {
  background: $bat-color-pillar-box;
}

.theme-soup {
  background: $bat-color-pea-soup;
}

.theme-white {
  background: $bat-color-white;
}

// HELPERS

// This is the outside white border. It completely falls out of the normal flow of things (sorry about that)
td.super-border-right, .super-border-right {
  padding-left: 0;
  padding-right: 30px;
}

.super-border {
  padding-left: 15px;
  padding-right: 15px;
}

.pad-top {
  padding: $base-padding;
}

.mod-buttons-td { margin-top: 10px; border-bottom: 5px solid white;}

// useful for images which inherit other line-heights which can manifest huge gaps below.
.reset-line-height {line-height:1;}

// HOVERS 

table.button:hover td {
  background: $bat-color-pillar-box-dark !important;
}

table.button:hover td a {
  color: $bat-color-white !important;
}

table.button:hover td {
  background: $bat-color-pillar-box-dark !important;
}

table.secondary:hover td {
  background: $bat-color-french-blue-dark !important;
  color:$bat-color-white;
}

table.secondary:hover td a {
  color: $bat-color-white !important;
}