// GENERIC STUFF

.ExternalClass * {line-height: 100%} 

.ExternalClass p {line-height: 100%;} 

body, .body {
  background: $bat-color-graphite;
}

.divider {
  background: transparent;
  height: 10px;
  min-height: 10px;
  max-height: 10px;
}

// OVERRIDES
.text-pad-zero, td.text-pad-zero, .text-pad-zero {
  padding: 0;
}

td.text-pad-top-zero, .text-pad-top-zero {
  padding-top: 0;
}

td.text-pad-right-zero, .text-pad-right-zero {
  padding-right: 0;
}

td.text-pad-bottom-zero, .text-pad-bottom-zero {
  padding-bottom: 0;
}

td.text-pad-left-zero, .text-pad-left-zero {
  padding-left: 0;
}

table.columns .text-pad-bottom {
  padding-bottom: $base-padding;
}

table.columns .text-pad-top {
  padding-top: $base-padding;
}


// new padding sizes not defined in Zurb INK

table.columns .text-pad-sm {
  padding-left: $sm-padding;
  padding-right: $sm-padding;
}

table.columns .text-pad-lg {
  padding-left: $lg-padding;
  padding-right: $lg-padding;
}

table.columns .text-pad-full {
  padding-top: $base-padding;
  padding-right: $base-padding;
  padding-bottom: $base-padding;
  padding-left: $base-padding; 
}



// THEMES
.theme-french {
  background: $bat-color-french-blue;
}

.theme-french-lighter {
  background: $bat-color-french-blue-lighter;
}

.theme-cerulean {
  background: $bat-color-cerulean;
}

.theme-gold {
  background: $bat-color-gold;
}

.theme-graphite {
  background: $bat-color-graphite;
}

.theme-lemon {
  background: $lemon-color;
}

.theme-pillar-box {
  background: $bat-color-pillar-box;
}

.theme-soup {
  background: $bat-color-pea-soup;
}

.theme-white {
  background: $bat-color-white;
}

// This is the outside white border. It completely falls out of the normal flow of things (sorry about that)
td.super-border-right, .super-border-right {
  padding-left: 0;
  padding-right: 30px;
}

.super-border {
  padding-left: 15px;
  padding-right: 15px;
}

// star deal stuff
table.mod-menu {
  width: 265px;
}

table.mod-menu tr td {
  padding: 15px;
}

table.mod-desc tr td {
  padding: 15px;
}

table.mod-terms tr td.mod-terms-title {
  padding: 15px 15px 0 15px;
}

table.mod-terms tr td.mod-terms-text {
  padding: 0 15px 15px 15px;
}

table.mod-review td.review-stars {
  padding: 5px 0 5px 15px;
}

table.mod-review td.review-number {
  padding: 0 0 5px 15px;
}

table.mod-pref {
  border: 1px solid $bat-color-white;
}

// removed because broken in outlook
table.mod-pref tr td.mod-pref-para {
  padding: 0 15px 15px 15px;
}

table.mod-pref tr td.mod-pref-para.first {
  padding: 15px 15px 15px 15px;
}

.mod-quote span.quote-text, .mod-quote td.quote-text-td {
  color: $bat-color-light-gray;
  font-family: $secondary-font-family;
  font-style: italic;
}

//.mod-quote td.quote-text-td {padding-left:$base-padding;}
table.mod-quote td.quote-text-td {
  padding-left: 15px;
  padding-right: 15px;
}

table.mod-quote span.quote-text {
  border-left: 5px solid $bat-color-gold;
  display: block;
  padding-left: 10px;
}

// padding is not supported on p tags in outlook 07/10/13  see: https://www.emailonacid.com/blog/details/C13/7_tips_and_tricks_regarding_margins_and_padding_in_html_emails
table.mod-quote span.quote-text {
  margin-bottom: 0;
  margin: 0;
  margin-left: 0;
  margin-right: 0;
}

td.footer-text {
  font-size: $font-sm;
  padding-top: $base-padding;
}

.pad-top {
  padding: $base-padding;
}

// make sure there are no ugly gaps which manifest themselves on linked images
.mod-banner-td, .mod-banner-img, .mod-banner-a {
  line-height: 1;
}

.mod-header-text td, .mod-header-text h2, .mod-header-text h3, .mod-header-text a {line-height: 1;}

.mod-header-text h2 {
  color: $bat-color-french-blue-lighter;
}

.mod-header-text h2 a {
  color: $bat-color-french-blue-lighter;
}

.mod-header-text a:hover h2 {
  color: $bat-color-french-blue-lighter;
}

.mod-header-text:hover h2 a,
.mod-header-text h2 a:visited,
.mod-header-text:active h2 a {
  color: $bat-color-french-blue-lighter !important;
}

//
.mod-header-text h3 {
  color: $bat-color-white;
}

.mod-header-text h3 a {
  color: $bat-color-white;
}

.mod-header-text a:hover h3 {
  color: $bat-color-white;
}

.mod-header-text:hover h3 a,
.mod-header-text h3 a:visited,
.mod-header-text:active h3 a {
  color: $bat-color-white !important;
}

//

.footer-text {
  color: $bat-color-graphite-light;
}

.mod-buttons-td { margin-top: 10px; border-bottom: 5px solid white;}

// useful for images which inherit other line-heights which can manifest huge gaps below.
.reset-line-height {line-height:1;}
