// Bookatable colour palette
// -------------------------

$bat-color-graphite-dark: #171E20;
$bat-color-graphite: #2C393E;
$bat-color-graphite-light: #606A6E;
$bat-color-graphite-lighter: #BFC3C5;

$bat-color-cerulean-dark: #1E404C;
$bat-color-cerulean: #2C5F71;
$bat-color-cerulean-light: #608794;
$bat-color-cerulean-lighter: #BFCFD4;

$bat-color-french-blue-dark: #2C7B97;
$bat-color-french-blue: #389bbe;
$bat-color-french-blue-light: #69B4CE;
$bat-color-french-blue-lighter: #C3E1EB;

$bat-color-pea-soup-dark: #9A990F;
$bat-color-pea-soup: #C9C713;
$bat-color-pea-soup-light: #D6D54E;
$bat-color-pea-soup-lighter: #EEEEB8;

$bat-color-gold-dark: #F6C205;
$bat-color-gold: #FBD033;
$bat-color-gold-light: #FCDB66;
$bat-color-gold-lighter: #FDF0C1;

$bat-color-terracotta-dark: #B05000;
$bat-color-terracotta: #E36700;
$bat-color-terracotta-light: #EA8D3F;
$bat-color-terracotta-lighter: #F6D1B2;

$bat-color-pillar-box-dark: #A31A1F;
$bat-color-pillar-box: #CF2128;
$bat-color-pillar-box-light: #DB585D;
$bat-color-pillar-box-lighter: #F0BCBE;

$bat-color-vellum: #FBFAEB;
$bat-color-vellum-dark: #F2EFC0;
$bat-color-vellum-light: #FCFBF0;
$bat-color-vellum-lighter: #FDFDF9;

$bat-color-turtle-dove: #98B4BF;
$bat-color-turtle-dove-dark: #799DAB;
$bat-color-turtle-dove-light: #B1C6CF;
$bat-color-turtle-dove-lighter: #E0E8EB;

$bat-color-black: #111111;
$bat-color-grey-darker: #555555;
$bat-color-grey-dark: #999999;
$bat-color-grey: #BBBBBB;
$bat-color-grey-light: #E5E5E5;
$bat-color-grey-lighter: #F7F7F7;
$bat-color-white: #FFFFFF;

// TODO: Need to deprecate non-palette colours

$bat-color-light-gray: #aaaaaa;

// non bookatable colors
$lemon-color: #eae825;
$another-gray: #999999;
$dark-gray: #333333;
$footer-text-color: #606A6E;
$slime-green: #f4f3cf;

//base fonts
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$secondary-font-family: Georgia, "Times New Roman-", Times, serif;

// base colours

$base-font-color: $dark-gray;

//link colors
$base-link-color: $bat-color-french-blue;
$base-link-hover-color: red;
$base-link-active-color: red;
$base-link-visited-color: red;

// Typographic sizing
// -----------------------------
$font-xxs: 8px;
$font-xs: 12px;
$font-sm: 14px;
$font-med: 16px;
$font-lg: 24px;
$font-xl: 32px;
$font-xxl: 36px;

$base-small-font-size: $font-xs;
$base-font-size: $font-med;
$base-h2-font-size: $font-xl;
$base-h3-font-size: $font-lg;

$quote-font-size: $font-lg;

$base-line-height: $base-font-size;
$base-margin: 15px;
$base-border-radius: 3px;

$base-padding: 15px;
$large-padding: 20px;
$sm-padding: 10px;
$xs-padding: 5px;





