/*  Media Queries */

@media only screen and (max-width: 600px) {
  // on mobile super border must die!
  table[class="body"] .super-border {
    padding-left: 0 !important;padding-right: 0 !important;
  }
  
  table[class="body"] table.mod-menu {width:100% !important;}
  
  table[class="body"] .review-stars img {width:135px !important; height: 26px;}
  table[class="body"] img.icon-social-google {width:235px !important; height: 50px !important;}
  table[class="body"] table.mod-footer tr td {width:auto !important;border:1px solid red;}
  
  // prevent social buttons from becoming too small
  table[class="body"] .mod-footer.columns td.one {min-width:40px !important; min-height: 40px !important;}
  table[class="body"] .mod-footer.columns td.three {min-width:118px !important; min-height: 40px !important;}
  
  //mod-buttons
  table[class="body"] .mod-buttons {background:orange !important;width:100% !important;}
    table[class="body"] .button {background:orange !important;width:100% !important;}
  table[class="body"] .mod-booknow {background:orange !important;width:100% !important;}
  
  // stop bat logo from expanding
  table[class="body"] .header-bat-logo-img, .header-bat-logo-td {width:188px !important;height:33px !important;}
  
  // stop ugly gap due to forced height on td. original height exists for the benefit of desktops clients.
  table[class="body"] .mod-banner-td {height:auto !important;}
}