/*  Media Queries */

@media only screen and (max-width: 600px) {
  // override 95% from Ink
  table[class="body"] .container {
    width: 100% !important;
  }
  // on mobile super border must die!
  table[class="body"] .super-border {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  table[class="body"] table.mod-menu {
    width: 100% !important;
  }
  // make sure images are resized correctly for mobile
  table[class="body"] .review-stars img {
    width: 135px !important;
    height: 26px;
  }
	
	table[class="body"] .review-stars-sm {
    width: 81px !important;
    height: 16px !important;
  }
	
	table[class="body"] .mod-roundup-content {
		margin: 0 4% !important;
	}
	
	table[class="body"] .mod-roundup-content td {
		width: 92% !important;
	}
	
	
//  table[class="body"] img.icon-social-google,
//  table[class="body"] img.icon-social-facebook,
//  table[class="body"] img.icon-social-twitter {
//    width: 40px !important;
//    height: 40px !important;
//    margin-left: 10%;
//  }
//  table[class="body"] img.icon-social-ios {
//    width: 118px !important;
//    height: 40px !important;
//  }
  table[class="body"] table.mod-footer tr td {
    width: auto !important;
  }

  // prevent social buttons from becoming too small
  table[class="body"] .mod-footer.columns td.one {
    min-width: 40px !important;
    min-height: 40px !important;
  }
  table[class="body"] .mod-footer.columns td.three {
    min-width: 118px !important;
    min-height: 40px !important;
  }

  //mod-buttons
  table[class="body"] .mod-buttons {
    width: 100% !important;
  }
  table[class="body"] .button {
    width: 100% !important;
  }
  table[class="body"] .mod-booknow {
    width: 100% !important;
  }

  // stop bat logo from expanding
  table[class="body"] .header-bat-logo-img, .header-bat-logo-td {
    width: 188px !important;
    height: 33px !important;
  }

  // stop ugly gap due to forced height on td. original height exists for the benefit of desktops clients.
  table[class="body"] .mod-banner-td {
    height: auto !important;
  }
  // fix social button spacing
  table[class="body"] .columns.mod-footer td.one {
    width: 25% !important;
  }
  // override hardcoded height on strapline
  table[class="body"] .mod-strapline-td {
    height: auto !important;
  }

  table[class="body"] .mod-strapline-img, table[class="body"] .mod-banner-img {
    width: 90% !important;
  }

  table[class="body"] .mod-booknow-a {
    padding-top: 0 !important;
  }

  table[class="body"] .header-bat-logo-img {
    margin-left:5% !important;
  }

  table[class="body"] td.footer-text {
    padding: 0 $base-padding !important;
  }
  
table[class="body"] table.mod-footer  td.sub-columns,
table[class="body"] table.mod-footer td.sub-columns,
table[class="body"] table.mod-footer  td.sub-column,
table[class="body"] table.mod-footer td.sub-column {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

  table[class="body"] img.dontmiss-img {
    margin: 0 auto $base-margin auto !important;
    float: none !important;
  }
  table[class="body"] td.dontmiss-img-td {
    padding-top: 0 !important;
  }
  
  table[class="body"] img.icon-marker {
    width: 10px !important;
    height: 16px !important;
  }

  table[class="body"] .mod-banner-beta-td, table[class="body"] img.mod-banner-beta-img
	{
    width: 94% !important;
    height: auto !important;
  }
  
    table[class="body"] .mod-guide-hero td {
    width: auto !important;
    height: auto !important;
  }
	
	  table[class="body"] .marker-icon-img {
			width: 13px !important;
  }
	
		table[class="body"] h1.selects {
			font-size: 26px;
			width: 100% ;
			margin: 0 auto;
  }
	
			table[class="body"] h2.view-all {
			width: 96% ;
  }
	
				table[class="body"] td.view-all-td {
			margin: 0 auto;
  }
	
		table[class="body"] .mod-roundup-content, .mod-roundup-panel {
		border-top-width: 0 !important;
	}
	
	table[class="body"] .selects-td {
		padding-left: 15px !important;
	}
	
	table[class="body"] .columns td.six.review-stars-sm-td { width: 42% !important; }
	
	table[class="body"] .mob-auto-height {
	height: auto !important;
}
	table[class="body"] .lrf-banner, table[class="body"] .lrf-header, table[class="body"] .full-width-banner {
		width: 94% !important;
		margin: 0 3%;
	}
	
	table[class="body"] .lrf-buttons .five-up .lrf-button-td{padding:0 !important;margin:0 !important;}
	
	table[class="container"] .block-grid td {
    width: 100% !important;
  }
	
	table[class="body"] .button-roundup-td {}
	table[class="body"] .button-roundup-td td{}
	
	table[class="body"] .review-stars .stars-90{width: 88px !important; height: 17px !important;}
	
	table[class="body"] .basic-list-rest-name{padding-left: 0 !important;}
	table[class="body"] table.basic-list{margin: 0 4% !important;width: 92% !important;}
	table[class="body"] table.basic-list td{padding: 2% !important;}
	

}