@import "variables";

// Extend variables
// ----------------

$gutter-width: 20px;
$col-width: 30px;
$col-total: 12;
$btn-height: 44px;

// Mixins
// -----------------
// Calculate grid widths
@mixin colWidth($cols) {
  width: ( $cols * ( $col-width + $gutter-width ) ) - $gutter-width;
}

// Utils
// -----------------

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Add padding to copy container
.copy-wrap {
  padding: $font-xs/2 $font-xs;
  @extend .clearfix;
}

// Add padding to image
.img-wrap {
  padding: $font-xs;
  @extend .clearfix;
}

// Wrap content in hyperlink
.link-wrap {
  display: block;
  margin: 0;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
  @extend .clearfix;
}

// Buttons

.btn {
  display: block;
  margin: 0 auto;
  border-radius: $base-border-radius;
  vertical-align: middle;
  text-align: center;
  background: $bat-color-grey;
  color: $bat-color-white;
  font-size: $font-lg;
  text-transform: uppercase;
  line-height: $btn-height;
  cursor: pointer;
  transition: all .3s ease-out;

  &:hover {
    background: darken($bat-color-grey, 5%);
    color: $bat-color-white !important;
  }

  // Fill containing element
  &.btn-block {
    border-radius: 0;
    width: 100%;
  }

  // Book now etc.
  &.btn-primary {
    background: $bat-color-pillar-box;
    &:hover {
      background: darken($bat-color-pillar-box, 5%);
      color: $bat-color-white;
    }
  }
}

// Grid utilities
// -----------------------------------------------------------------------

.row {

  width: 100%;
  margin: $font-med auto $font-med;
  padding: 0;
  @extend .clearfix;

}

.col {
  float: left;
  margin: 0 auto;
}

.col-12,
.col-9,
.col-8,
.col-7,
.col-6,
.col-5,
.col-4,
.col-3 {
  width: 100%;
}

.show-grid {
  .col {
    background: $bat-color-grey-lighter;
  }
}

// PAGES
// -----------------------------------------------------------------------
.page-index,
.page-styles,
.page-modules {

  margin: 48px auto 24px;

  h5 {
    font-size: 18px;
    color: $bat-color-grey;
    span {
      display: inline-block;
      float: right;
    }
  }

}

// MODULES
// -----------------------------------------------------------------------

.mod-content {
  width: 100%;
  margin: 0 0 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid $bat-color-grey-light;
  h1 {
  }
}

.mod-deal-hero-header {
  background: $bat-color-cerulean;
  h2 {
    color: $bat-color-french-blue-light;
    font-weight: 200;
  }
  p {
    color: $bat-color-white;
    font-size: $font-lg;
    font-weight: 200;
  }
}

// Style guide
// -----------------------------------------------------------------------



.page-styles {
  section.style {

    margin: 24px 0;
    padding: 0 0 24px;
    //border-bottom: 1px dotted $bat-color-grey;

    h1 > a,
    h2 > a,
    h3 > a,
    h4 > a {
      color: $bat-color-terracotta !important;
      transition: all .3s ease-out;
      &:hover {
        color: $bat-color-terracotta-dark !important;
      }
    }
    hr {
      margin:0 0 12px;

    }
    h1 + hr {
      //margin: 0 0 48px;
    }

    code {
      display: inline-block;
      border-radius: 3px;
      background: $bat-color-grey-lighter;
      color: $bat-color-french-blue;
      padding: 0 5px;
    }

    blockquote {
      display: block;
      margin: 24px 36px;
      background: lighten($bat-color-pillar-box-lighter, 10%);
      padding: 7px 12px;
      border-radius: $base-border-radius;

      p {
        margin: 0;
        font-family: $base-font-family;
        color: $bat-color-pillar-box-dark;
      }
    }
    p {
      color: $bat-color-grey-darker;
    }

    p.lead {
      font-size: 18px;
    }

  }



  h1:first-child {
    margin: 12px 0 18px;
    //color: red;
  }



  section.serif {
    margin-top:24px;
    $serif-adjust: 2px;
    h2, h3, h4, p {
      font-family: $secondary-font-family;
    }
    h2 {
      font-size: $font-xl + $serif-adjust;
    }
    h3 {
      font-size: $font-lg + $serif-adjust;
    }
    h4, p {
      font-size: $font-med + $serif-adjust;
    }

  }
}

table.palette {
  widows: 100%;

  th {
    font-weight: normal;
    font-size: 8px;
    text-transform: uppercase;
    text-align: center;
    width: 10%;
  }

  tr.palette-dark {

    td {

      height: 12px;
      background: $bat-color-grey-lighter;

      &:nth-child(1) {
        background: $bat-color-graphite-dark;
      }
      &:nth-child(2) {
        background: $bat-color-cerulean-dark;
      }
      &:nth-child(3) {
        background: $bat-color-french-blue-dark;
      }
      &:nth-child(4) {
        background: $bat-color-pea-soup-dark;
      }
      &:nth-child(5) {
        background: $bat-color-gold-dark;
      }
      &:nth-child(6) {
        background: $bat-color-terracotta-dark;
      }
      &:nth-child(7) {
        background: $bat-color-pillar-box-dark;
      }
      &:nth-child(8) {
        background: $bat-color-vellum-dark;
      }
      &:nth-child(9) {
        background: $bat-color-turtle-dove-dark;
      }
      &:nth-child(10) {
        background: $bat-color-grey-darker;
      }
    }
  }

  tr.palette-med {

    td {

      height: 24px;
      background: $bat-color-grey-lighter;

      &:nth-child(1) {
        background: $bat-color-graphite;
      }
      &:nth-child(2) {
        background: $bat-color-cerulean;
      }
      &:nth-child(3) {
        background: $bat-color-french-blue;
      }
      &:nth-child(4) {
        background: $bat-color-pea-soup;
      }
      &:nth-child(5) {
        background: $bat-color-gold;
      }
      &:nth-child(6) {
        background: $bat-color-terracotta;
      }
      &:nth-child(7) {
        background: $bat-color-pillar-box;
      }
      &:nth-child(8) {
        background: $bat-color-vellum;
      }
      &:nth-child(9) {
        background: $bat-color-turtle-dove;
      }
      &:nth-child(10) {
        background: $bat-color-grey-dark;
      }
    }
  }

  tr.palette-light {
    td {
      height: 36px;
      background: $bat-color-grey-lighter;

      &:nth-child(1) {
        background: $bat-color-graphite-light;
      }
      &:nth-child(2) {
        background: $bat-color-cerulean-light;
      }
      &:nth-child(3) {
        background: $bat-color-french-blue-light;
      }
      &:nth-child(4) {
        background: $bat-color-pea-soup-light;
      }
      &:nth-child(5) {
        background: $bat-color-gold-light;
      }
      &:nth-child(6) {
        background: $bat-color-terracotta-light;
      }
      &:nth-child(7) {
        background: $bat-color-pillar-box-light;
      }
      &:nth-child(8) {
        background: $bat-color-vellum-light;
      }
      &:nth-child(9) {
        background: $bat-color-turtle-dove-light;
      }
      &:nth-child(10) {
        background: $bat-color-grey;
      }
    }
  }

  tr.palette-lighter {
    td {
      height: 48px;
      background: $bat-color-grey-lighter;

      &:nth-child(1) {
        background: $bat-color-graphite-lighter;
      }
      &:nth-child(2) {
        background: $bat-color-cerulean-lighter;
      }
      &:nth-child(3) {
        background: $bat-color-french-blue-lighter;
      }
      &:nth-child(4) {
        background: $bat-color-pea-soup-lighter;
      }
      &:nth-child(5) {
        background: $bat-color-gold-lighter;
      }
      &:nth-child(6) {
        background: $bat-color-terracotta-lighter;
      }
      &:nth-child(7) {
        background: $bat-color-pillar-box-lighter;
      }
      &:nth-child(8) {
        background: $bat-color-vellum-lighter;
      }
      &:nth-child(9) {
        background: $bat-color-turtle-dove-lighter;
      }
      &:nth-child(10) {
        background: $bat-color-grey-light;
      }
    }
  }
  tr.palette-superlight {
    td {
      height: 64px;
      background: lighten($bat-color-grey-lighter, 10%);

      &:nth-child(1) {
        background: lighten($bat-color-graphite-lighter, 10%);
      }
      &:nth-child(2) {
        background: lighten($bat-color-cerulean-lighter, 10%);
      }
      &:nth-child(3) {
        background: lighten($bat-color-french-blue-lighter, 10%);
      }
      &:nth-child(4) {
        background: lighten($bat-color-pea-soup-lighter, 10%);
      }
      &:nth-child(5) {
        background: lighten($bat-color-gold-lighter, 10%);
      }
      &:nth-child(6) {
        background: lighten($bat-color-terracotta-lighter, 10%);
      }
      &:nth-child(7) {
        background: lighten($bat-color-pillar-box-lighter, 10%);
      }
      &:nth-child(8) {
        background: lighten($bat-color-vellum-lighter, 2%);
      }
      &:nth-child(9) {
        background: lighten($bat-color-turtle-dove-lighter, 2%);
      }
      &:nth-child(10) {
        background: lighten($bat-color-grey-light, 5%);
      }
    }
  }

}

.mod-deal-local {

  background: $bat-color-pea-soup-lighter;
  border-radius: 3px;

  h2 {
    margin: 0;
    padding: $font-xs;
    background: $bat-color-pea-soup-light;
    color: $bat-color-pea-soup-dark;
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid $bat-color-white;
  }

  .mod-deal-local-body {

    h3 {
      color: $bat-color-cerulean;
    }
    p {
      color: $bat-color-cerulean;
    }
  }

}

.star-rating {
  display: inline-block;
  img {
    width: 25%;
  }
}

@media only screen and (min-width: 580px) {

  .row {

    width: 580px;
    margin: $font-med auto $font-med;
    padding: 0;
    @extend .clearfix;

  }

  .col {
    float: left;
    margin: 0 0 0 $gutter-width;
    &:first-child,
    &.col-12 {
      margin-left: 0;
    }
  }

  .col-12 {
    @include colWidth(12);
  }

  .col-9 {
    @include colWidth(9);
  }

  .col-8 {
    @include colWidth(8);
  }

  .col-7 {
    @include colWidth(7);
  }

  .col-6 {
    @include colWidth(6);
  }

  .col-5 {
    @include colWidth(5);
  }

  .col-4 {
    @include colWidth(4);
  }

  .col-3 {
    @include colWidth(3);
  }

}