.clearfix:after, .copy-wrap:after, .img-wrap:after, .link-wrap:after, .mod-roundup-item:after {
  content: "";
  display: table;
  clear: both; }

.copy-wrap {
  padding: 6px 12px; }

.img-wrap {
  padding: 12px; }

.link-wrap {
  display: block;
  margin: 0;
  padding: 0;
  text-decoration: none;
  cursor: pointer; }

.list-group {
  margin: 24px 0;
  border: 1px solid #E5E5E5;
  border-radius: 3px; }
  .list-group .list-group-item {
    display: block;
    padding: 12px 12px 6px;
    border-bottom: 1px solid #E5E5E5;
    transition: background-color 0.3s ease-out; }
    .list-group .list-group-item:last-child {
      border: 0; }
    .list-group .list-group-item:hover {
      background: #f1f8fa; }
  .list-group .list-group-item-heading {
    font-size: 21px;
    font-weight: bold;
    color: #555555; }
  .list-group .list-group-item-text {
    color: #999999; }

.btn {
  display: block;
  margin: 0 auto;
  border-radius: 3px;
  vertical-align: middle;
  text-align: center;
  background: #BBBBBB;
  color: #FFFFFF;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 48px;
  cursor: pointer;
  transition: all 0.3s ease-out; }
  .btn:hover {
    background: #aeaeae;
    color: #FFFFFF !important; }
  .btn.btn-block {
    border-radius: 0;
    width: 100%; }
  .btn.btn-primary {
    background: #CF2128; }
    .btn.btn-primary:hover {
      background: #b91d25;
      color: #FFFFFF; }

.row {
  width: 100%;
  margin: 16px auto 16px;
  padding: 0; }

.col {
  float: left;
  margin: 0 auto; }

.col-12, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3 {
  width: 100%; }

.show-grid .col {
  background: #F7F7F7; }

.page-index, .page-styles, .page-modules {
  margin: 48px auto 24px; }
  .page-index h5, .page-styles h5, .page-modules h5 {
    font-size: 18px;
    color: #BBBBBB; }
    .page-index h5 span, .page-styles h5 span, .page-modules h5 span {
      display: inline-block;
      float: right; }

.mod-content {
  width: 100%;
  margin: 0 0 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #E5E5E5; }

.mod-deal-hero-header {
  background: #2C5F71; }
  .mod-deal-hero-header h2 {
    color: #69B4CE;
    font-weight: 200; }
  .mod-deal-hero-header p {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 200; }

.page-styles section.style {
  margin: 24px 0;
  padding: 0 0 24px; }
  .page-styles section.style h1 > a, .page-styles section.style h2 > a, .page-styles section.style h3 > a, .page-styles section.style h4 > a {
    color: #E36700 !important;
    transition: all 0.3s ease-out; }
    .page-styles section.style h1 > a:hover, .page-styles section.style h2 > a:hover, .page-styles section.style h3 > a:hover, .page-styles section.style h4 > a:hover {
      color: #B05000 !important; }
  .page-styles section.style hr {
    margin: 0 0 12px; }
  .page-styles section.style code {
    display: inline-block;
    border-radius: 3px;
    background: #F7F7F7;
    color: #389bbe;
    padding: 0 5px; }
  .page-styles section.style blockquote {
    display: block;
    margin: 24px 12px;
    background: #f9e6e7;
    padding: 7px 12px;
    border-radius: 3px; }
    .page-styles section.style blockquote p {
      margin: 0;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #A31A1F; }
  .page-styles section.style p {
    color: #555555; }
  .page-styles section.style p.lead {
    font-size: 18px; }
.page-styles h1:first-child {
  margin: 12px 0 18px; }
.page-styles section.serif {
  margin-top: 24px; }
  .page-styles section.serif h2, .page-styles section.serif h3, .page-styles section.serif h4, .page-styles section.serif p {
    font-family: Georgia, "Times New Roman-", Times, serif; }
  .page-styles section.serif h2 {
    font-size: 34px; }
  .page-styles section.serif h3 {
    font-size: 26px; }
  .page-styles section.serif h4, .page-styles section.serif p {
    font-size: 18px; }

table.palette {
  width: 100%; }
  table.palette th {
    font-weight: normal;
    font-size: 8px;
    text-transform: uppercase;
    text-align: center;
    width: 10%; }
  table.palette tr.palette-dark td {
    height: 12px;
    background: #F7F7F7; }
    table.palette tr.palette-dark td:nth-child(1) {
      background: #171E20; }
    table.palette tr.palette-dark td:nth-child(2) {
      background: #1E404C; }
    table.palette tr.palette-dark td:nth-child(3) {
      background: #2C7B97; }
    table.palette tr.palette-dark td:nth-child(4) {
      background: #9A990F; }
    table.palette tr.palette-dark td:nth-child(5) {
      background: #F6C205; }
    table.palette tr.palette-dark td:nth-child(6) {
      background: #B05000; }
    table.palette tr.palette-dark td:nth-child(7) {
      background: #A31A1F; }
    table.palette tr.palette-dark td:nth-child(8) {
      background: #F2EFC0; }
    table.palette tr.palette-dark td:nth-child(9) {
      background: #799DAB; }
    table.palette tr.palette-dark td:nth-child(10) {
      background: #555555; }
  table.palette tr.palette-med td {
    height: 24px;
    background: #F7F7F7; }
    table.palette tr.palette-med td:nth-child(1) {
      background: #2C393E; }
    table.palette tr.palette-med td:nth-child(2) {
      background: #2C5F71; }
    table.palette tr.palette-med td:nth-child(3) {
      background: #389bbe; }
    table.palette tr.palette-med td:nth-child(4) {
      background: #C9C713; }
    table.palette tr.palette-med td:nth-child(5) {
      background: #FBD033; }
    table.palette tr.palette-med td:nth-child(6) {
      background: #E36700; }
    table.palette tr.palette-med td:nth-child(7) {
      background: #CF2128; }
    table.palette tr.palette-med td:nth-child(8) {
      background: #FBFAEB; }
    table.palette tr.palette-med td:nth-child(9) {
      background: #98B4BF; }
    table.palette tr.palette-med td:nth-child(10) {
      background: #999999; }
  table.palette tr.palette-light td {
    height: 36px;
    background: #F7F7F7; }
    table.palette tr.palette-light td:nth-child(1) {
      background: #606A6E; }
    table.palette tr.palette-light td:nth-child(2) {
      background: #608794; }
    table.palette tr.palette-light td:nth-child(3) {
      background: #69B4CE; }
    table.palette tr.palette-light td:nth-child(4) {
      background: #D6D54E; }
    table.palette tr.palette-light td:nth-child(5) {
      background: #FCDB66; }
    table.palette tr.palette-light td:nth-child(6) {
      background: #EA8D3F; }
    table.palette tr.palette-light td:nth-child(7) {
      background: #DB585D; }
    table.palette tr.palette-light td:nth-child(8) {
      background: #FCFBF0; }
    table.palette tr.palette-light td:nth-child(9) {
      background: #B1C6CF; }
    table.palette tr.palette-light td:nth-child(10) {
      background: #E5E5E5; }
  table.palette tr.palette-lighter td {
    height: 48px;
    background: #F7F7F7; }
    table.palette tr.palette-lighter td:nth-child(1) {
      background: #BFC3C5; }
    table.palette tr.palette-lighter td:nth-child(2) {
      background: #BFCFD4; }
    table.palette tr.palette-lighter td:nth-child(3) {
      background: #E9F4F8; }
    table.palette tr.palette-lighter td:nth-child(4) {
      background: #EEEEB8; }
    table.palette tr.palette-lighter td:nth-child(5) {
      background: #FDF0C1; }
    table.palette tr.palette-lighter td:nth-child(6) {
      background: #F6D1B2; }
    table.palette tr.palette-lighter td:nth-child(7) {
      background: #F0BCBE; }
    table.palette tr.palette-lighter td:nth-child(8) {
      background: #FDFDF9; }
    table.palette tr.palette-lighter td:nth-child(9) {
      background: #E0E8EB; }
    table.palette tr.palette-lighter td:nth-child(10) {
      background: #F7F7F7; }
  table.palette tr.palette-superlight td {
    height: 64px; }
    table.palette tr.palette-superlight td:nth-child(1) {
      background: #dadcdd; }
    table.palette tr.palette-superlight td:nth-child(2) {
      background: #dee6e8; }
    table.palette tr.palette-superlight td:nth-child(3) {
      background: #f1f8fa; }
    table.palette tr.palette-superlight td:nth-child(4) {
      background: #f8f8e1; }
    table.palette tr.palette-superlight td:nth-child(5) {
      background: #fffcf2; }
    table.palette tr.palette-superlight td:nth-child(6) {
      background: #fbece0; }
    table.palette tr.palette-superlight td:nth-child(7) {
      background: #f5d1d3; }
    table.palette tr.palette-superlight td:nth-child(8) {
      background: #fefefd; }
    table.palette tr.palette-superlight td:nth-child(9) {
      background: #9eb9c3; }
    table.palette tr.palette-superlight td:nth-child(10) {
      background: #FFFFFF; }

.mod-deal-local {
  background: #EEEEB8;
  border-radius: 3px; }
  .mod-deal-local h2 {
    margin: 0;
    padding: 12px;
    background: #D6D54E;
    color: #9A990F;
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid #FFFFFF; }
  .mod-deal-local .mod-deal-local-body h3 {
    color: #2C5F71; }
  .mod-deal-local .mod-deal-local-body p {
    color: #2C5F71; }

.mod-roundup-header h1 {
  padding: 15px;
  color: #98B4BF;
  font-weight: 200;
  font-size: 24px; }
  .mod-roundup-header h1 > img {
    display: none;
    height: 24px;
    width: auto;
    padding: 6px 8px 0 0; }
  .mod-roundup-header h1 a {
    transition: all 0.25s ease-out; }
    .mod-roundup-header h1 a > img {
      display: none; }

.mod-viewall {
  margin: 15px; }
  .mod-viewall a {
    display: block;
    background: #EEEEB8;
    border-radius: 3px;
    padding: 20px;
    transition: all 0.25s ease-out; }
    .mod-viewall a h2 {
      color: #9A990F;
      text-align: left;
      text-transform: uppercase;
      font-weight: 200;
      padding: 0;
      line-height: 1;
      margin: 0; }
      .mod-viewall a h2 img {
        float: right; }
    .mod-viewall a:hover {
      background: #e9e9a3; }

.mod-roundup-item h2 {
  margin: 0;
  color: #606A6E;
  transition: color 0.25s ease-out; }
  .mod-roundup-item h2:hover {
    color: #111111; }
.mod-roundup-item .mod-roundup-item-body h3 {
  margin: 8px 0 12px;
  color: #E36700;
  transition: color 0.25s ease-out; }
  .mod-roundup-item .mod-roundup-item-body h3:hover {
    color: #B05000; }
.mod-roundup-item .mod-roundup-item-body p {
  color: #2C5F71; }
.mod-roundup-item .mod-roundup-item-body blockquote {
  padding: 0;
  margin: 0;
  color: #BBBBBB;
  font-family: Georgia, "Times New Roman-", Times, serif; }
.mod-roundup-item .mod-roundup-item-body cite {
  margin: 4px 0 0;
  display: block;
  color: #555555;
  font-weight: bold;
  font-style: italic;
  font-size: 12px; }
.mod-roundup-item .mod-roundup-item-body .img-wrap {
  padding: 0; }
.mod-roundup-item .mod-roundup-item-body .copy-wrap {
  padding: 8px 12px; }
.mod-roundup-item .mod-roundup-item-body .btn-primary {
  background: #E36700; }
  .mod-roundup-item .mod-roundup-item-body .btn-primary:hover {
    background: #B05000; }

.star-rating .stars {
  display: inline-block;
  width: 25%; }

@media only screen and (min-width: 580px) {
  .mod-roundup-item {
    border-top: 2px dotted #EEEEB8;
    padding-top: 12px; }
    .mod-roundup-item h2 {
      margin: 8px 0 0; }
    .mod-roundup-item .mod-roundup-item-body .copy-wrap {
      padding: 0; }
  .mod-roundup-header h1 {
    font-size: 36px;
    padding: 0; }
    .mod-roundup-header h1 > img {
      display: inline-block;
      height: 24px;
      width: auto;
      padding: 6px 8px 0 0; }
    .mod-roundup-header h1 a {
      display: inline-block;
      text-align: right;
      font-size: 24px;
      text-transform: uppercase;
      float: right;
      padding: 8px 0 0;
      color: #BBBBBB; }
      .mod-roundup-header h1 a img {
        display: inline-block;
        float: right;
        height: 24px;
        margin: 0 0 0 8px; }
  .mod-viewall {
    margin: 0;
    text-align: center; }
  .row {
    max-width: 580px; }
  .col {
    float: left;
    margin: 0 0 0 20px; }
    .col:first-child, .col.col-12 {
      margin-left: 0; }
  .col-12 {
    width: 580px; }
  .col-9 {
    width: 430px; }
  .col-8 {
    width: 380px; }
  .col-7 {
    width: 330px; }
  .col-6 {
    width: 280px; }
  .col-5 {
    width: 230px; }
  .col-4 {
    width: 180px; }
  .col-3 {
    width: 130px; } }

/*# sourceMappingURL=prototype.css.map */