// Extend variables
// ----------------

$gutter-width:  20px;
$col-width:     30px;
$col-total:     12;
$btn-height:    48px;
$radius:        4px;

@import "variables";
@import "_prototype-scss/prototype-utils";
@import "_prototype-scss/style-guide";

.theme-cerulean-light {
  background: $bat-color-cerulean-light;
}

.mod-featured-event {
  @extend .clearfix;
  padding: 0;
  margin: 0 12px 12px;
}

// MODULES
// ------------------------------------

.mod-content {
  @extend .clearfix;
  width: 100%;
  margin: 0 0 1em;
  padding-bottom: 1em;
}

// COMMS EMAIL
//-------------------------------------
.mod-body-comm {

  background: $bat-color-white;
  padding: 0;
  width: 100%;

  .sep {
    height: 1px;
    margin: 0 16px;
    border-top: 1px dotted $bat-color-terracotta;
  }

  p {

    color: $bat-color-graphite-light;
    font-weight: 200;
    font-size: 18px;

    &.lead {
      font-size: 28px;
      font-weight: 500;
    }
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }

  .head {
    @extend .clearfix;
    padding: 16px;

    img {
      float: right;
      width: 100px;
    }
    p {
      float: right;
      font-size: 16px;
      span {
        color: $bat-color-terracotta;
      }
    }
  }

  .msg, .noreply {
    padding: 16px;
  }

  .reservation {
    margin: 0 0;
    padding: 12px 16px;
    strong {
      font-weight: 500;
    }
    table {
      tr {
        td {
          font-size: 18px;
        }
        td:first-child {
          width: 30%;
          text-align: right;
          font-weight: 200;
          color: $bat-color-graphite-light;
        }
        td:last-child {
          padding-left: 8px;
          font-weight: 500;
        }
      }
    }
  }

  .opts {
    @extend .clearfix;
    padding: 16px 0;

    h3 {
      color: $bat-color-graphite-light;
      font-size: 28px;
      font-weight: 500;
      margin: 0 48px;
      text-align: center;
      line-height: 1.1;
    }
  }

  .review-opts {

    padding: 0;
    list-style: none;
    margin: 16px 0;

    li {
      list-style: none;
      margin:12px;

      a {
        display: inline-block;
        padding: 8px;
        font-size: 20px;

        color: $bat-color-graphite-light;
        border: 3px solid $bat-color-french-blue-superlight;
        border-radius: 8px;
        transition: all .3s ease-out;
        &:hover {
          border-color: $bat-color-french-blue;
        }
        img {
          display: inline-block;
          margin-right: 12px;
          width: 10%;
        }
        span {
          display: inline-block;
          padding-top: 3px;
        }
      }
    }
  }

  .mail-footer {
    @extend .clearfix;
    margin: 0 0;
    background-color: $bat-color-terracotta;
    padding: 12px 16px 24px;

    .links-social {

      float: right;
      width: 25%;

      a.social {
        float: right;
        width: 36px;
        height: 36px;
        opacity: .50;
        margin: 4px 0 0 4px;
        padding: 1px;
        transition: opacity .25s ease-out;
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .sig {
    width: 50%;
    float: left;

    .logo {
      @extend .clearfix;
      margin: 0 0 0;
      width: 160px;
    }

    p {
      font-size: 14px;
      color: $bat-color-white;
      margin: 0;

    }

    h3 {
      font-size: 24px;
      margin: 0px 0 32px;
      font-weight: 200;
      padding: 0 ;
      color: $bat-color-white;
    }

    p.noreply {
      font-style: italic;
      text-align: center;
      font-size: 12px;
      clear: both;
    }
  }
}

// STARDEAL HERO
//---------------------------------------------

.mod-deal-hero-header,
.mod-deal-hero-header-light {

  @extend .clearfix;
  background: $bat-color-cerulean;

  h2 {
    color: $bat-color-french-blue-light;
    font-weight: 200;
  }

  p {
    color: $bat-color-white;
    font-size: $font-lg;
    font-weight: 200;
  }
}

// LOCAL DEAL MODULE
// -----------------------------------
.mod-deal-local {
  @extend .clearfix;
  background: $bat-color-pea-soup-lighter;
  border-radius: 3px;

  h2 {
    margin: 0;
    padding: $font-xs;
    background: $bat-color-pea-soup-light;
    color: $bat-color-pea-soup-dark;
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid $bat-color-white;
  }

  .mod-deal-local-body {

    h3 {
      color: $bat-color-cerulean;
      clear: both;
    }
    p {
      color: $bat-color-cerulean;
    }
    .star-rating {
      img {
        width: 25% !important;
      }
    }
  }
}

// MULTI-DEALS
// ---------------------------------
.mod-roundup-header {
  h1 {
    padding: $base-padding;
    color: $bat-color-turtle-dove;
    font-weight: 200;
    font-size: 28px;

    > img {
      display: none;
      height: 24px;
      width: auto;
      padding: 6px 8px 0 0;
    }

    a {
      transition: all .25s ease-out;
      > img {
        display: none;
      }
    }
  }
}
.mod-roundup-item {

  @extend .clearfix;

  h2 {
    margin: 0;
    color: $bat-color-graphite-light;
    transition: color .25s ease-out;
    &:hover {
      color: $bat-color-black;
    }
  }

  .rest-feature {
    background: $bat-color-graphite;
    color: $bat-color-white;
    padding: 8px 8px;

  }
  .rest-loc {

    color: $bat-color-white;
    padding: 12px 8px;

    a.loc {
      display: block;
      text-transform: uppercase;
      img {
        height: 20px !important;
        padding-right: 4px;
      }
    }

  }

  .mod-roundup-item-body {
    h3 {
      margin: 6px 0 12px;
      color: $bat-color-terracotta;
      transition: color .25s ease-out;
      &:hover {
        color: $bat-color-terracotta-dark;
      }
    }
    p {
      color: $bat-color-cerulean;
    }

    blockquote {
      padding: 0;
      margin: 0;
      color: $bat-color-grey;
      font-family: $secondary-font-family;
      // font-style: italic;
    }

    cite {
      margin: 4px 0 0;
      display: block;
      color: $bat-color-grey-darker;
      font-weight: bold;
      font-style: italic;
      font-size: 12px;
      //text-align: right;
    }
    .img-wrap {
      padding: 0;
    }
    .copy-wrap {
      padding:8px 12px;
    }
    .btn-primary {
      background: $bat-color-terracotta;
      border-radius: $radius;
      margin-top: 8px;
      &:hover {
        background: $bat-color-terracotta-dark;
      }
    }
    .rest-data {
      @extend .clearfix;
      padding: 4px 0 6px;
      a {
        font-size: 14px;
        cursor: pointer;
        text-transform: uppercase;
      }
      img {
        padding-top: 2px;
      }
      a.stars {
        display: block;
        //width: 30%;
        float: left;

        img {
          display: inline-block;
          height: 16px !important;
          padding-right: 4px;
        }
      }

    }

    .rest-location {
      text-align: right;
      margin-bottom: 4px;
      a {
        text-transform: uppercase;
        font-size: 14px;
        line-height: 1;
        img {
          display: inline-block;
          float: right;
          padding: 6px 0 0 4px;
          height: 12px !important;
        }
      }
    }
  }
}

// LONDON RESTAURANT FESTIVAL
// -----------------------------

.mod-roundup.mod-roundup-lrf {
  .rest-feature {
    background: $lrf-green-jade;
  }
}

.mod-navbar-lrf {

  table {
    margin: 12px 0 0;
    padding: 0;
    width: 100%;
    td {
      width: 20%;
    }
  }

  // Deal buttons
  .btn {
    font-size: 16px;
    font-weight: 400;
    background-color: $lrf-green-jade;
    margin: 0 3px;
    &.u10 {
      background-color: $lrf-pink;
    }
    &.u20 {
      background-color: $lrf-orange;
    }
    &.u30 {
      background-color: $lrf-green-grass;
    }
    &.u40 {
      background-color: $lrf-purple;
    }
  }
}

// STARDEAL-VIEW ALL BANNER
// ----------------------------------------
.mod-viewall {

  margin: 15px;

  a {
    display: block;
    background: $bat-color-pea-soup-lighter;
    border-radius: $radius;
    padding: 20px;
    transition: all .25s ease-out;

    h2 {

      color: $bat-color-pea-soup-dark;
      text-align: center;
      text-transform: uppercase;
      font-weight: 200;
      padding: 0;
      line-height: 1;
      margin: 0;

      span {
        font-weight: 700;
      }

      img {
        float: right;
      }
    }
    &:hover {
      background: darken($bat-color-pea-soup-lighter, 5%);
    }
  }
}

// STARDEAL-LIGHT
// --------------------------------------

.mod-deal-hero-header-light {
  background: $bat-color-cerulean;
  h2 {
    color: lighten($bat-color-french-blue-light, 10%);
    font-weight: 200;
    margin: 4px 0 0;
  }
  p {
    line-height: 1.2;
    font-weight: 200;
  }
}

.navbar {

  @extend .clearfix;
  background: $bat-color-turtle-dove;
  //border-bottom: 1px solid #fff; //$bat-color-cerulean-dark;

  .nav {
    height: 48px;
    width: 33.333333%;
    float: right;
    //border-bottom: 1px solid #fff;
    //border-top: 1px solid #fff;
    .btn {
      font-weight: 400;
      letter-spacing: 2px;
      background: $bat-color-french-blue-light;
      font-size: 14px;
      &.menu {
        background: $bat-color-french-blue;
        &:hover {
          background: darken($bat-color-french-blue, 10%);
        }
      }
      &:hover {
        background: darken($bat-color-french-blue-light, 10%);
      }
    }
    .btn-primary {
      background: $bat-color-pillar-box;
      border: 0;
      &:hover {
        background: darken($bat-color-pillar-box, 10%);
      }
    }
  }
}

.desc-short {
  //border-top: 1px solid #fff; //$bat-color-cerulean-dark;
  background: $bat-color-cerulean;
  padding: 15px;
  a {
   color: lighten($bat-color-french-blue-light, 10%);
    &:hover {
      text-decoration: underline;
    }
  }

  .rating {
    @extend .clearfix;
    a.stars {
      display: block;

      img {
        width: 100px !important;
        margin-right: 4px;
      }
    }
  }

  p {
    margin-top: 4px;
    color: $bat-color-white;
    font-weight: 200;
  }
}

@import "_prototype-scss/wide-viewport";
