
<table>
  <tr>
    <td style="width:235px;height:40px;"><img src="http://placehold.it/470x80/ff0000/ffffff/&text=FOOTER" alt=""></td>
  </tr>
    <tr>
    <td>Please do not reply to this email. This email notification was sent from a notification-only address that cannot accept incoming email. This email has come from Bookatable Limited, a limited liability company registered in England & Wales Company Registration No: 05398578 | Registered Office: 5th Floor, Elizabeth House, 39 York Road, London, SE1 7NQ. © 2014 Bookatable.com. All rights reserved. You can unsubscribe from these emails at any time.</td>
  </tr>
</table>
