<!-- begin top blogs -->
<table class="mod-guide-top-blogs">
  <tr>
    <td>
      <h2><a href="#">blogname</a></h2>
      <p>blah</p>
      <h2><a href="#">blogname</a></h2>
      <p>blah</p>
      <h2><a href="#">blogname</a></h2>
      <p>blah</p>
      <h2><a href="#">blogname</a></h2>
      <p>blah</p>
      <h2><a href="#">blogname</a></h2>
      <p>blah Lorem ipsum dolor sit amet, consectetur <a href="#">tsr arssr</a>adipisicing elit. Labore, pora voluptatibus tempore. Nisi.</p>  
    </td>
  </tr>
</table>
<!-- end top blogs -->