
<table class="row">
  <tr>
    <td class="wrapper">

      <table class="six columns">
        <tr>
          <td class="theme-pillar-box">

            <table>
              <tr>
                <td>oeno</td>
              </tr>
            </table>

          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>

    <td class="wrapper last">

      <table class="six columns">
        <tr>
          <td class="theme-lemon">

            <table>
              <tr>
                <td>srtrs</td>
              </tr>
            </table>

          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>
