            <table class="mod-terms theme-cerulean">
              <tr>
                <td class="mod-terms-title">Terms</td>
              </tr>
              <tr>
                <td class="mod-terms-text">Available lunch &amp; dinner Mon - Sat 4th April, subject to availability. Dishes from a set menu and subject to change. Includes VAT, excludes service.</td>
              </tr>
            </table>