<table class="mod-banner">
  <tr>
    <td style="width:580px;height:150px;line-height:1;" class="mod-banner-td">
    <a href="#" style="line-height:1;" class="mod-banner-a"><img class="mod-banner-img" src="http://placehold.it/1160x300" width="580" height="150" alt=""></a>
    </td>
  </tr>
</table>

