<center>
  <!-- begin hero -->
  <table class="mod-hero">
    <tr>
      <td><img alt="book now, pay when you dine" class="center" src="http://placehold.it/1160x600" height="300" width="580"></td>
    </tr>
  </table>
  <!-- end hero -->
</center>

