---
title: Bookatable Guide (London)
---

{{> divider}}
<!-- HERO -->
<table class="row">
  <tr>
    <td class="wrapper last theme-lemon">
      <table class="twelve columns">
        <tr>
          <td class="theme-lemon center" align="center" valign="top">
            <center>
              {{> guide-hero}}
            </center>
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- HERO END -->
{{> divider}}
<!-- INTRO TEXT -->
<table class="row">
  <tr>
    <td class="wrapper last theme-lemon">
      <table class="twelve columns">
        <tr>
          <td class="theme-lemon" align="left" valign="top">
            {{> guide-intro-text}}
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- INTRO TEXT END -->
{{> divider}}
<!-- TOP BLOGS -->
<table class="row">
  <tr>
    <td class="wrapper last theme-lemon">
      <table class="twelve columns">
        <tr>
          <td class="theme-lemon" align="left" valign="top">    
            {{> guide-top-blogs}}
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- TOP BLOGS END -->
{{> divider}}
<!-- NEW RESTAURANTS -->
<table class="block-grid two-up theme-pillar-box">
  <tr>
    <td>

      <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem architecto eius reiciendis animi? Eligendi nihil quia est beatae non explicabo..</p>

    </td><td> <!-- Make sure the tags are directly next to each other -->

    {{> new1}}

    </td>
  </tr>
</table>

<table class="block-grid two-up">
  <tr>
    <td class="theme-soup">

      {{> new1}}

    </td><td class="theme-gold"> <!-- Make sure the tags are directly next to each other -->

    {{> new1}}

    </td>
  </tr>
</table>
<!-- NEW RESTAURANTS END -->
{{> divider}}


