<div class="mod-navbar-lrf">
    <table>
        <tbody>
          <tr>
              <td><a href="#under-10" title="London Restaurant Festival deals under £10" class="btn u10">Under £10</a></td>
              <td><a href="#under-10" title="London Restaurant Festival deals under £10 to £20" class="btn u20">£10 -
                  £20</a></td>
              <td><a href="#under-10" title="London Restaurant Festival deals under £10" class="btn u30">£20 -
                  £30</a></td>
              <td><a href="#under-10" title="London Restaurant Festival deals under £10" class="btn u40">£30 -
                  £40</a></td>
              <td><a href="#under-10" title="London Restaurant Festival deals under £10" class="btn">Over £40</a></td>
          </tr>
        </tbody>
    </table>



</div>
