---
title:          mod-deal-hero-header
version:        0.2
---



<div class="mod-deal-hero-header-light row theme-cerulean-light">

  <div class="col col-12">
    <div class="img-wrap">
      <a class="link-wrap" href="#">
      <h2>Petrichor at The Cavendish London</h2>

      <p>3 courses & a champagne cocktail £35 per person</p>
      </a>
    </div>
  </div>

  <div class="col col-12">

    <div class="navbar">

      <div class="nav">
        <a href="#book" class="btn btn-block btn-primary">Book</a>
      </div>

      <div class="nav">
        <a href="#map-view" class="btn btn-block map">Map View</a>
      </div>

    </div>

  </div>


  <div class="col col-12">
    <a class="link-wrap" href="#">
      <img src="http://placehold.it/1160x700/000000">
    </a>
  </div>

</div>
