---
title:          mod-deal-hero-header
version:        0.1
---



<div class="mod-deal-hero-header row">

    <div class="col col-8">
        <div class="img-wrap">
            <a class="link-wrap" href="#">
                <h2>Restaurant name</h2>

                <p>Offer name</p>
            </a>
        </div>
    </div>

    <div class="col col-4">
        <div class="img-wrap">
            <a class="btn btn-primary">
                Book
            </a>
        </div>
    </div>

    <div class="col col-12">
        <a class="link-wrap" href="#">
            <img src="http://placehold.it/1160x700">
        </a>
    </div>

</div>