
<!-- Weekly roundup list item -->
<div class="mod-roundup-item row">

    <div class="col col-12 mod-roundup-item-body">


        <div class="col col-5">

            <a class="link-wrap" href="#restaurant">
                <div class="img-wrap">
                    <!--<img src="http://placehold.it/480x320">-->
                    <img src="assets/imgs/rest-dummy.jpg">

                    <a href="#offer" class="btn btn-block btn-primary ">BOOK</a>
                </div>
            </a>

        </div>

        <div class="col col-7">

            <div class="copy-wrap">

                <a class="link-wrap" href="#offer">

                    <h2>Petrichor at The Cavendish London</h2>

                    <h3>3 courses & a glass of champagne cocktail £35 per person</h3>

                    <a href="#reviews" class="star-rating">
                        <span class="stars"><img title="Rated 3.8 out of 5 by diners" src="assets/imgs/stars-3.5.png"></span>
                            (177 Reviews)
                    </a>

                    <!-- TODO: if we want diner quotes -->
                    <!--<blockquote>What a jolly nice place to eat food and spend some money.</blockquote>-->
                    <!--<cite>jmbrnrd - London</cite>-->

                </a>

            </div>

        </div>

    </div>

</div>