<h5>.mod-deal-local</h5>

<div class="mod-deal-local row">


    <h2>Local deal: Location name</h2>

    <div class="col col-12 mod-deal-local-body">

        <div class="col col-7">

            <div class="copy-wrap">
                <a class="link-wrap" href="#">
                    <div class="star-rating"><img src="assets/imgs/stars-3.5.png"></div>

                    <h3>Restaurant name</h3>

                    <p>Some offer with an overly verbose title about a glass of Prosecco and early-closing
                        Wednesdays</p>
                </a>
            </div>
        </div>
        <div class="col col-5">
            <a class="link-wrap" href="#">
                <div class="img-wrap">
                    <img src="http://placehold.it/480x320">
                    <a class="btn btn-block btn-primary ">BOOK</a>
                </div>
            </a>

        </div>


    </div>

</div>