<div class="mod-viewall">

    <a href="#view-all" title="See all currently available deals">

        <h2>
            <!--<img src="assets/imgs/icon-magnify.png">VIEW ALL STAR DEALS</h2>-->
            VIEW ALL <span>STAR DEALS</span>

        </h2>

    </a>

</div>