
<!-- Weekly roundup list item -->
<div class="mod-roundup-item row">

    <div class="col col-12 mod-roundup-item-body">


        <div class="col col-6">

            <div class="rest-feature">

                Michelin-recommended Indian

            </div>

            <a class="link-wrap" href="#restaurant">
                <div class="img-wrap">
                    <img src="http://placehold.it/580x380">


                </div>
            </a>

        </div>

        <div class="col col-6">

            <div class="copy-wrap">

                <a class="link-wrap" href="#offer">

                    <div class="rest-data">

                        <a class="stars" href="#restaurant-reviews">
                            <img title="Rated 3.8 out of 5 by diners" src="assets/imgs/stars-3.5.png"> (177)
                        </a>
                        <a  class="loc" href="#restaurant-location">Location
                            <img src="assets/imgs/icon-marker-light-blue.png"></a>


                    </div>


                    <h2>Tuttons</h2>

                    <h3>6 courses & a cocktail £30 per person</h3>

                    <!--<a href="#reviews" class="star-rating">-->
                        <!--<span class="stars"><img title="Rated 3.8 out of 5 by diners" src="assets/imgs/stars-3.5.png"></span>-->
                            <!--(177 Reviews)-->
                    <!--</a>-->

                    <a href="#offer" class="btn btn-block btn-primary ">BOOK</a>

                    <!-- TODO: if we want diner quotes -->
                    <!--<blockquote>What a jolly nice place to eat food and spend some money.</blockquote>-->
                    <!--<cite>jmbrnrd - London</cite>-->

                </a>

            </div>

        </div>

    </div>

</div>