---
title:          mod-deal-hero-img
version:        0.1
---

<h5>.mod-deal-hero-img<span>0.0.1</span></h5>

<div class="mod-deal-hero-img row">

    <div class="col col-12">
        <a class="link-wrap" href="#">
            <img src="http://placehold.it/1160x700">
        </a>
    </div>

</div>