---
title:      Monthly guide - London
desc:       Beta template for weekly newsletter replacement
region:     London
culture:    en-GB
layout:     default
published:  true

---
<!-- HERO -->
<table border="0" cellpadding="0" cellspacing="0" class="row">
  <tr>
    <td class="wrapper last theme-lemon">
      <table border="0" cellpadding="0" cellspacing="0" class="twelve columns">
        <tr>
          <td class="theme-pillar-box center" align="center" valign="top">
            <center>
              {{> guide-hero}}
            </center>
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- HERO END -->
{{!> divider}}
<!-- INTRO TEXT -->
<table border="0" cellpadding="0" cellspacing="0" class="row">
  <tr>
    <td class="wrapper last theme-lemon">
      {{> guide-intro-text}}        
    </td>
  </tr>
</table>
<!-- INTRO TEXT END -->

<!-- TOP BLOGS -->
<table border="0" cellpadding="0" cellspacing="0" class="row">
  <tr>
    <td class="wrapper last theme-lemon">
      <table border="0" cellpadding="0" cellspacing="0" class="twelve columns">
        <tr>
          <td class="theme-lemon" align="left" valign="top">    
            {{!> guide-top-blogs}}
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- TOP BLOGS END -->
{{!> divider}}

<table border="0" cellpadding="0" cellspacing="0" class="mod-new-restaurants">
 <tr>
  <td class="reset-line-height">
    <!-- NEW RESTAURANTS -->   
    <table border="0" cellpadding="0" cellspacing="0" class="block-grid two-up">
      <tr>
        <td class="text-pad-zero reset-line-height theme-goldie-lookin-chain">
          {{> guide-new-rest-block }}
        </td><td class="text-pad-zero reset-line-height theme-goldie-lookin-chain"> <!-- Make sure the tags are directly next to each other -->
          {{> guide-new-rest-block }}
        </td>
      </tr>
    </table>
    <!-- NEW RESTAURANTS END -->
  </td>
</tr>
</table>
{{> divider}}
<!-- DON'T MISS -->
<table border="0" cellpadding="0" cellspacing="0" class="row">
  <tr>
    <td class="wrapper last theme-gold">
      <table border="0" cellpadding="0" cellspacing="0" class="twelve columns">
        <tr>
          <td class="theme-gold text-pad-full" align="left" valign="top">    
            {{> dontmiss-intro}}
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0" class="row theme-grey-lighter">
  <tr>
    <td class="wrapper">

      <table border="0" cellpadding="0" cellspacing="0" class="eight columns theme-grey-lighter">
        <tr>
          <td class="text-pad-full">

            {{> dontmiss-1}}

          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
    <td class="wrapper last theme-grey-lighter">

      <table border="0" cellpadding="0" cellspacing="0" class="four columns">
        <tr>
          <td class="text-pad-top dontmiss-img-td" style="width: 165px; height: 110px;">
            <img class="dontmiss-img" src="http://placehold.it/330x220" width="165" height="110" alt="">
          </td>
          <td class="expander"></td>
        </tr>
        
        <tr>
          <td class="text-pad-right text-pad-bottom">
          <table class="button">
            <tr>
              <td>
                <a href="#">BOOK</a>
              </td>
            </tr>
          </table>
          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>



<!-- TOP BLOGS END -->