---
title:      Monthly guide - London
desc:       Beta template for weekly newsletter replacement
region:     London
culture:    en-GB
layout:     default
published:  true

---
<!-- HERO -->
<table border="0" cellpadding="0" cellspacing="0" class="row">
  <tr>
    <td class="wrapper last theme-lemon">
      <table border="0" cellpadding="0" cellspacing="0" class="twelve columns">
        <tr>
          <td class="theme-pillar-box center" align="center" valign="top">
            <center>
              {{!> guide-hero}}
            </center>
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- HERO END -->
{{> divider}}
<!-- INTRO TEXT -->
<table border="0" cellpadding="0" cellspacing="0" class="row">
  <tr>
    <td class="wrapper last theme-lemon">
      {{!> guide-intro-text}}        
    </td>
  </tr>
</table>
<!-- INTRO TEXT END -->
{{> divider}}
<!-- TOP BLOGS -->
<table border="0" cellpadding="0" cellspacing="0" class="row">
  <tr>
    <td class="wrapper last theme-lemon">
      <table border="0" cellpadding="0" cellspacing="0" class="twelve columns">
        <tr>
          <td class="theme-lemon" align="left" valign="top">    
            {{!> guide-top-blogs}}
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- TOP BLOGS END -->
{{!> divider}}

<table border="0" cellpadding="0" cellspacing="0" class="mod-new-restaurants">
 <tr>
  <td class="reset-line-height">
    <!-- NEW RESTAURANTS -->   
    <table border="0" cellpadding="0" cellspacing="0" class="block-grid two-up">
      <tr>
        <td class="theme-soup text-pad-zero reset-line-height">
          {{> guide-new-rest-block }}
        </td><td class="theme-gold text-pad-zero reset-line-height"> <!-- Make sure the tags are directly next to each other -->
          {{> guide-new-rest-block }}
        </td>
      </tr>
    </table>
    <!-- NEW RESTAURANTS END -->
  </td>
</tr>
</table>


{{> divider}}
<!-- DON'T MISS -->
<table border="0" cellpadding="0" cellspacing="0" class="row">
  <tr>
    <td class="wrapper last theme-gold">
      <table border="0" cellpadding="0" cellspacing="0" class="twelve columns">
        <tr>
          <td class="theme-gold" align="left" valign="top">    
            {{!> dontmiss-intro}}
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0" class="row theme-pillar-box">
  <tr>
    <td class="wrapper">

      <table border="0" cellpadding="0" cellspacing="0" class="nine columns theme-soup">
        <tr>
          <td>

            {{!> dontmiss-1}}

          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
    <td class="wrapper last">

      <table border="0" cellpadding="0" cellspacing="0" class="three columns theme-pillar-box">
        <tr>
          <td>


          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0" class="row theme-pillar-box">
  <tr>
    <td class="wrapper">

      <table border="0" cellpadding="0" cellspacing="0" class="nine columns theme-soup">
        <tr>
          <td>

            {{!> dontmiss-1}}

          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
    <td class="wrapper last">

      <table border="0" cellpadding="0" cellspacing="0" class="three columns theme-pillar-box">
        <tr>
          <td>


          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>
<!-- TOP BLOGS END -->