---
title: Bookatable Star Deal
region: London
culture: en-GB
layout: bookatable-default
---

<!-- divider -->
{{> divider }}

<!-- STAR DEAL HEADER TEXT -->
<table class="row theme-cerulean">
    <tr>
        <td class="wrapper">
            <table class="eight columns">
                <tr>
                    <td>{{> stardeal-header-text}}</td>
                    <td class="expander"></td>
                </tr>
            </table>
        </td>
        <td class="wrapper last">
            <table class="four columns">
                <tr>
                    <td>{{> stardeal-header-button}}</td>
                    <td class="expander"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- STAR DEAL HEADER TEXT -->

<!-- STAR DEAL HERO -->
<table class="row">
    <tr>
        <td class="wrapper last">
            <table class="twelve columns">
                <tr>
                    <td>{{> stardeal-hero}}</td>
                    <td class="expander"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- STAR DEAL HERO -->

<!-- divider -->
{{> divider }}

<!-- STAR DEAL CONTENT -->
<table class="row">
    <tr>
        <td class="wrapper">

            <table class="six columns">
                <tr>
                    <td class="theme-white">

                        {{> stardeal-desc }}

                        {{> stardeal-buttons }}

                        {{> stardeal-review }}

                        {{> stardeal-quote }}

                    </td>
                    <td class="expander"></td>
                </tr>
            </table>

        </td>
        <td class="wrapper last">

            <table class="six columns">
                <tr>
                    <td class="theme-white">

                        {{> stardeal-menu }}


                    </td>
                    <td class="expander"></td>
                </tr>
            </table>

        </td>
    </tr>
</table>
<!-- STAR DEAL CONTENT -->

<!-- STAR DEAL TERMS -->
<table class="row">
    <tr>
        <td class="wrapper last">
            <table class="twelve columns">
                <tr>
                    <td>
                        {{> stardeal-terms }}
                    </td>
                    <td class="expander"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- STAR DEAL TERMS -->


<!-- VIEW ALL BANNER -->

<table class="row">
    <tr>
        <td class="wrapper last">
            <table class="twelve columns">
                <tr>
                    <td>
                        {{> stardeal-banner }}
                    </td>
                    <td class="expander"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<!-- VIEW ALL BANNER -->

<!-- divider -->
{{> divider }}

<!-- PREFERENCE -->
<table class="row">
    <tr>
        <td class="wrapper last">
            <table class="twelve columns">
                <tr>
                    <td class="theme-white">{{> stardeal-pref }}</td>
                    <td class="expander"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- PREFERENCE -->

<!-- divider -->
{{> divider }}
<!-- divider -->





