---
title:      Post-dine (prototype)
desc:       Email sent to n days after their booking asking for diner review/feedback
region:     London
culture:    en-GB
layout:     layout-comms
---


<div class="mod-body-comm">

  <div class="head">
      <a href="#bookatable.com"><img src="assets/imgs/logo-black.png"></a>
      <p>Ref: 8B7S8MFZ</p>
  </div>

  <div class="msg">

    <p class="lead">Jeff</p>

    <p>We do hope that you enjoyed your visit to <a href="#restaurant">{RestaurantName}</a> on Monday.
     We'd really appreciate if you could take a couple of minutes to tell us about your experience so that we can share
     it with other <a href="#bookatable">Bookatable.com</a> diners.</p>
  </div>

  <div class="opts">

      <h3>Would you like to rate/review <a href="#restaurant">{RestaurantName}</a> for us?</h3>

      <ul class="review-opts">
          <li>
              <a href="#noshow">
                  <img src="assets/imgs/opt-nogo.png">
                  <span><strong>NO</strong> thanks, I didn't go</span>
              </a>
          </li>
          <li>
              <a href="#nothanks">
                  <img src="assets/imgs/opt-nothanks.png">
                 <span><strong>NO</strong> thanks, I'd rather not</span>
              </a>
          </li>
          <li>
              <a href="#yes">
                  <img src="assets/imgs/opt-yes.png">
                  <span><strong>YES!</strong> I would be happy to</span>
              </a>
          </li>
      </ul>

  </div>

  <!-- Signature -->
  <div class="sig">
      <p>Many thanks,</p>
      <h3>The Bookatable Team</h3>
      <p class="noreply">Please don't reply to this email as the address is unmonitored.</p>
  </div>
  <!-- /Signature -->

</div>

