---
title:      Post-dine (prototype)
desc:       Email sent to n days after their booking asking for diner review/feedback
region:     London
culture:    en-GB
layout:     layout-comms
---

<div class="mod-body-comm">

  <div class="head">
      <!--<a href="#bookatable.com"><img src="assets/imgs/logo-solid.png"></a>-->
      <p>Booking Ref: 8B7S8MFZ</p>
  </div>

  <div class="msg">

    <p class="lead">Jeff</p>

    <p>We hope you enjoyed your visit to <a href="#restaurant">The Waldorf Hilton</a> on Monday.
     We'd really appreciate it if you could share your experience with us and your fellow <a
                href="#bookatable">Bookatable.com</a> diners.</p>
  </div>

  <div class="sep"></div>

  <div class="opts">

      <h3>Please to rate & review <a href="#restaurant">The Waldorf Hilton</a> for us!</h3>

      <ul class="review-opts">
          <li>
              <a href="#noshow">
                  <img src="assets/imgs/opt-nogo.png">
                  <span><strong>Sorry</strong>, I didn't go in the end</span>
              </a>
          </li>
          <li>
              <a href="#nothanks">
                  <img src="assets/imgs/opt-nothanks.png">
                 <span><strong>No</strong> thanks, I'd rather not</span>
              </a>
          </li>
          <li>
              <a href="#yes">
                  <img src="assets/imgs/opt-yes.png">
                  <span><strong>Yes</strong>, I would be glad to!</span>
              </a>
          </li>
      </ul>

  </div>

  <div class="mail-footer">

    <!-- Signature -->
    <div class="sig">
      <p>Many thanks from</p>
      <div class="logo"><img src="assets/imgs/logo-white-@2x.png" title="The Bookatable Team"></div>
    </div>

    <!-- Social -->
    <div class="links-social">
      <a href="#facebook" class="social"><img src="assets/imgs/social-facebook.png"></a>
      <a href="#facebook" class="social"><img src="assets/imgs/social-twitter.png"></a>
    </div>

  </div>



</div>

