---
title:      Post-dine (prototype)
desc:       Email sent to n days after their booking asking for diner review/feedback
region:     London
culture:    en-GB
layout:     layout-comms
---


<div class="mod-body-predine">


   <div class="head">

   </div>


   <p class="lead">Jeff</p>
   <p>We hope that you & your guests enjoyed your visit to <a href="#restaurant">Restaurant name</a> on Monday. We'd
       really appreciate if you would take a couple of minutes and tell what you thought of it so that we can share
       your feedback with the restaurant & other <a href="#bookatable">Bookatable.com</a> diners.</p>

    <!-- Signature -->
    <div class="sig">
        <p>Thanks very much.</p>
        <h2>The Bookatable Team</h2>
        <p>Please don't reply to this email as the address is unmonitored.</p>
    </div>
    <!-- /Signature -->
</div>

