---
title:      Pre-dine (prototype)
desc:       Booking reminder email sent to diners that book >n days in advance.
region:     London
culture:    en-GB
layout:     layout-comms
---


<div class="mod-body-comm">

   <div class="head">
        <!--<a href="#bookatable.com"><img src="assets/imgs/logo-black.png"></a>-->
       <p>Ref: 8B7S8MFZ</p>
   </div>

   <div class="msg">
       <p class="lead">Jeff</p>
       <p>Just a quick reminder that you've got a great <strong>Bookatable</strong> deal booked for this Monday at <a
               href="#Restaurant-Page">The
       Waldorf Hilton</a>. Here are the details:</p>
   </div>

   <!-- Summary -->
   <div class="reservation">

        <table>
            <tbody>
                <tr>
                    <td>Date:</td>
                    <td>Monday, 22 August 2014</td>
                </tr>
                <tr>
                    <td>Time:</td>
                    <td>7:30pm</td>
                </tr>
                <tr>
                    <td>For:</td>
                    <td>10 people</td>
                </tr>
                <tr>
                    <td>Promotion:</td>
                    <td>STAR DEAL - 3 courses & two glasses of wine</td>
                </tr>
                <tr>
                    <td>Location:</td>
                    <td><a href="#Location-Map">The Waldorf Hilton, 22 Aldwych, London WC2B 4DD</a></td>
                </tr>

            </tbody>
        </table>
    </div>
    <!-- /Summary -->

    <div class="noreply">
        <p>If you need change any details then please
            <a href="#Restaurant-Contacts">contact the restaurant</a> or go online to <a href="#cancel">cancel you
                booking</a> if you can no longer make it. Please don't reply to this email as the address is
            unmonitored. </p>
    </div>

    <!-- Signature -->
    <div class="sig">
        <p>Many thanks from</p>
        <!--<h3>The Bookatable Team</h3>-->
        <div class="logo"><img src="assets/imgs/logo-white-@2x.png" title="The Bookatable Team"></div>
        <!--<p class="noreply">Please don't reply to this email as the address is unmonitored.</p>-->
    </div>
    <!-- /Signature -->
</div>

