---
title:      Pre-dine (prototype)
desc:       Booking reminder emai
region:     London
culture:    en-GB
layout:     layout-comms
---


<div class="mod-body-predine">


   <div class="head">
        <a href="#bookatable.com"><img src="assets/imgs/logo-black.png"></a>
       <p>Ref: 8B7S8MFZ</p>
   </div>


   <p class="lead">Jeff</p>
   <p>Just a quick reminder that you've got a great deal booked for this Monday at <a href="#Restaurant-Page">The
       Waldorf Hilton</a>. Here are the details:</p>

   <!-- Summary -->
   <div class="reservation">

        <table>
            <tbody>
                <tr>
                    <td>Date:</td>
                    <td>Monday, 22 August 2014</td>
                </tr>
                <tr>
                    <td>Time:</td>
                    <td>7:30pm</td>
                </tr>
                <tr>
                    <td>For:</td>
                    <td>10 people</td>
                </tr>
                <tr>
                    <td>Promotion:</td>
                    <td>STAR DEAL - 3 courses & two glasses of wine</td>
                </tr>
                <tr>
                    <td>Location:</td>
                    <td><a href="#Location-Map">The Waldorf Hilton, 22 Aldwych, London WC2B 4DD</a></td>
                </tr>

            </tbody>
        </table>
    </div>
    <!-- /Summary -->

    <!-- Signature -->
    <div class="sig">
        <p>Enjoy your meal.</p>
        <h2>The Bookatable Team</h2>
        <p>Please don't reply to this email as the address is unmonitored. If you need change any details then please
         <a href="#Restaurant-Contacts">contact the restaurant</a> or go online to <a href="#cancel">cancel your
                booking</a> if you can no longer make it.</p>
    </div>
    <!-- /Signature -->
</div>

