---
title:          Prototypes
desc:
layout:         layout-prototypes
---

<div class="page-prototypes">

    <h1>{{ title }}</h1>

    <hr>

    <h2>mod-local</h2>

    <div class="mod-deal-local row">

        <div class="col-12">
            <h2>Local deal: Restaurant name</h2>
        </div>

        <div class="col-12 mod-deal-local-body">

            <div class="col col-7">
                <div class="copy-wrap">
                    <h3>Restaurant</h3>

                    <p>Some offer</p>
                </div>
            </div>
            <div class="col col-5">
                <a class="link-wrap" href="#">
                    <div class="img-wrap">
                        <img src="http://placehold.it/350x150">
                        <a class="btn btn-block btn-primary ">BOOK</a>
                    </div>
                </a>

            </div>


        </div>

    </div>


    <h3>Grid</h3>

    <div class="show-grid">
        <div class="row">

        <div class="col col-12">
            <div class="copy-wrap">
            12
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col col-6">
            <div class="copy-wrap">
            6
            </div>
        </div>
        <div class="col col-6">
            <div class="copy-wrap">
            6
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col col-7">
            <div class="copy-wrap">
                7
            </div>
        </div>
        <div class="col col-5">
            <div class="copy-wrap">
                5
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col col-8">
            <div class="copy-wrap">
            8
            </div>
        </div>
        <div class="col col-4">
            <div class="copy-wrap">
            4
            </div>
        </div>

    </div>


        <div class="row">

        <div class="col col-9">
            <div class="copy-wrap">
            9
            </div>
        </div>
        <div class="col col-3">
            <div class="copy-wrap">
            3
            </div>
        </div>

        </div>
    </div>
</div>