---
title:          Content modules & prototypes
desc:           Collection of module designs and iterations to serve as a guide/spec for production development
layout:         layout-basic
---

<link rel="stylesheet" href="assets/css/prototype.css">


<div class="page-modules">

    <h1>{{ title }}</h1>

    <div class="mod-content">

        <h5>.mod-deal-hero-header<span>0.0.2</span></h5>

        {{> mod-deal-hero-header-01 }}

    </div>

    <div class="mod-content">

        <h5>.mod-deal-local<span>0.2</span></h5>

        {{> mod-deal-local-01 }}

    </div>

    <div class="mod-content">

        <h5>.mod-roundup-listing<span>0.1</span></h5>

        {{> mod-roundup-listing-01 }}

    </div>

    <div class="mod-content">

        <h5>.mod-viewall<span>0.1</span></h5>

        {{> mod-viewall-01 }}

    </div>





</div>