---
title:          Content modules & prototypes
desc:
layout:         layout-basic
---

<div class="page-modules">

    <h1>{{ title }}</h1>

    <div class="mod-content">

        {{> mod-deal-hero-header-01 }}

    </div>

    <div class="mod-content">

        {{> mod-deal-local-01 }}

    </div>

</div>