---
title:      LRF Roundup (version 2)
desc:       Weekly star deal round-up email
region:     London
culture:    en-GB
layout:     bookatable-default
---
{{> divider }}

<table class="row">
  <tr>
    <td class="wrapper last">
			{{> full-width-header-lrf-ending }}
    </td>
  </tr>
</table>

{{> divider }}

{{> roundup-module-lrf }}

{{> divider }}

{{> roundup-module-lrf }}

{{> divider }}

{{> roundup-module-lrf }}

{{> divider }}

{{> roundup-module-lrf }}

{{> divider }}

{{> basic-list }}
{{> basic-list-alt }}
{{> basic-list }}
{{> basic-list-alt }}
{{> basic-list }}

{{> basic-list-alt }}
{{> basic-list }}
{{> basic-list-alt }}
{{> basic-list }}
{{> basic-list-alt }}

{{> divider }}

<table class="row lrf-buttons">
  <tr>
    <td class="wrapper last">
			{{> lrf-buttons }}
    </td>
  </tr>
</table>

{{> stardeal-pref }}
