---
title:      LRF Roundup (prototype)
desc:       Version of the roundup email for London Restaurant Festival
region:     London
culture:    en-GB
layout:     bookatable-default
---

<link rel="stylesheet" href="assets/css/prototype.css">


<!-- Listings -->
<table border="0" cellpadding="0" cellspacing="0" class="row">

    <tr>
        <td class="wrapper last">

            {{> mod-header-LRF-01 }}

            {{> mod-roundup-listings-01 }}

            {{> mod-banner-LRF-01 }}

        </td>
    </tr>

</table>
<!-- /Listings -->


<!-- PREFERENCE -->
<table border="0" cellpadding="0" cellspacing="0" class="row">
    <tr>
        <td class="wrapper last">
          {{> stardeal-pref }}
        </td>
    </tr>
</table>
<!-- PREFERENCE -->


{{> divider }}