---
title:      Roundup 
desc:       Weekly star deal round-up email
region:     London
culture:    en-GB
layout:     bookatable-default
---
<table class="row">
  <tr>
    <td class="wrapper last">
			{{> roundup-header }}
    </td>
  </tr>
</table>

{{> roundup-module }}

{{> divider }}

{{> roundup-module }}

{{> divider }}

{{> roundup-module }}

{{> divider }}

{{> stardeal-banner-beta }}

{{> divider }}

{{> stardeal-pref }}
