---
title:      LRF Roundup 
desc:       Weekly star deal round-up email
region:     London
culture:    en-GB
layout:     bookatable-default
---
{{> divider }}
 
<table class="row">
  <tr>
    <td class="wrapper last">
			{{> full-width-header-lrf }}
    </td>
  </tr>
</table>

<table class="row">
  <tr>
    <td class="wrapper last">
			{{> lrf-buttons }}
    </td>
  </tr>
</table>

{{> divider }}

{{> roundup-module-lrf }}

{{> divider }}

{{> roundup-module-lrf }}

{{> divider }}

{{> roundup-module-lrf }}

{{> divider }}

{{> roundup-module-lrf }}

<table class="row">
  <tr>
    <td class="wrapper last">
			{{> full-width-banner-lrf-app }}
    </td>
  </tr>
</table>

{{> stardeal-pref }}
