---
title:      Roundup 
desc:       Weekly star deal round-up email
region:     London
culture:    en-GB
layout:     bookatable-default
---

<!-- CONTENT -->
<table border="0" cellpadding="0" cellspacing="0" class="row">
	<tr>
		<td class="wrapper">           

			<table class="six columns theme-gold">
				<tr>
					<td><p>rstrr strstst rsasrta rrsat as</p></td>
					<td class="expander"></td>
				</tr>
				
				<tr>
					<td><img src="http://placehold.it/280x187" alt=""></td>
				</tr>
			</table>

		</td>
		<td class="wrapper last theme-gold">

			<table class="six columns">
				<tr>
					<td class="six sub-columns" style="font-size:11px;line-height:1;"><img src="http://placehold.it/154x32" alt="" width="77" height="16">&nbsp;(177)</td>
					<td class="five sub-columns" style="font-size:11px;line-height:1;text-align:right;" align="right">LOCATION</td>
					<td class="one sub-columns" align="right"><img src="http://placehold.it/15x16" alt=""></td>
					<td class="expander"></td>
				</tr>
			</table>
			
		  <table class="six columns">
				<tr>
					<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
				</tr>
				<tr>
					<td>rstrastsra</td>
				</tr>
				<tr>
					<td>
						<table class="button" align="absbottom" valign="bottom">
							<tr>
								<td>
									<a href="#">BOOK</a>
								</td>
							</tr>
						</table>
			    </td>
				</tr>
			</table>

		</td>
	</tr>
</table>
<!-- CONTENT -->



{{!> roundup-module }}