---
title:      Star Deal
desc:       Default daily Star Deal template
region:     London
culture:    en-GB
layout:     bookatable-default
---

<!-- divider -->
{{> divider }}

<!-- STAR DEAL STRAPLINE -->
{{> stardeal-strapline }}
<!-- STAR DEAL STRAPLINE -->

<!-- divider -->
{{> divider }}

<!-- STAR DEAL HEADER TEXT -->
<table border="0" cellpadding="0" cellspacing="0" class="row theme-cerulean">
    <tr>
        <td class="wrapper">
          {{> stardeal-header-text}}
        </td>
        <td class="wrapper last">
        {{> stardeal-header-button}}
        </td>
    </tr>
</table>
<!-- STAR DEAL HEADER TEXT -->

<!-- STAR DEAL HERO -->
<table border="0" cellpadding="0" cellspacing="0" class="row">
    <tr>
        <td class="wrapper last">
          {{> stardeal-hero}}
        </td>
    </tr>
</table>
<!-- STAR DEAL HERO -->

<!-- divider -->
{{> divider }}

<!-- STAR DEAL CONTENT -->
<table border="0" cellpadding="0" cellspacing="0" class="row">
    <tr>
        <td class="wrapper">           
          {{> stardeal-content }}
        </td>
        <td class="wrapper last">
          {{> stardeal-menu }}
        </td>
    </tr>
</table>
<!-- STAR DEAL CONTENT -->

<!-- STAR DEAL TERMS -->
<table border="0" cellpadding="0" cellspacing="0" class="row">
    <tr>
        <td class="wrapper last">
           {{> stardeal-terms }}
        </td>
    </tr>
</table>
<!-- STAR DEAL TERMS -->

{{> divider }}

<!-- VIEW ALL BANNER -->
<table border="0" cellpadding="0" cellspacing="0" class="row">
    <tr>
        <td class="wrapper last">                  
          {{> stardeal-banner-beta }}
        </td>
    </tr>
</table>
<!-- VIEW ALL BANNER -->

{{> divider }}

<!-- PREFERENCE -->
<table border="0" cellpadding="0" cellspacing="0" class="row">
    <tr>
        <td class="wrapper last">
          {{> stardeal-pref }}
        </td>
    </tr>
</table>
<!-- PREFERENCE -->

{{> divider }}