---
title:      Star Deal Light (prototype)
desc:       Default daily Star Deal template
region:     London
culture:    en-GB
layout:     bookatable-default
---
<link rel="stylesheet" href="assets/css/prototype.css">
<!-- divider -->
{{> divider }}

<!-- STAR DEAL STRAPLINE -->
{{> stardeal-strapline }}
<!-- STAR DEAL STRAPLINE -->

<!-- divider -->
{{> divider }}

<!-- STAR DEAL HEADER TEXT -->
<table border="0" cellpadding="0" cellspacing="0" class="row">
    <tr>
        <td class="wrapper">
          {{> mod-deal-hero-header-02 }}
        </td>
    </tr>

</table>
<!-- STAR DEAL HERO -->



<!-- STAR DEAL CONTENT -->
<table border="0" cellpadding="0" cellspacing="0" class="row">
    <tr>
        <td class="wrapper last">

              <div class="desc-short">
                  <div class="rating">
                      <a class="stars" href="#restaurant-reviews"><img title="Rated 3.8 out of 5 by diners" src="assets/imgs/stars-3.5.png"> 177 Reviews</a>
                  </div>
                  <p>Inspired by the fine dining establishments of Paris and Monte Carlo,
                      the bright and decadent Avalanche restaurant serves authentic Italian cuisine in sleek
                      surroundings. <a href="#Restaurant-listing">See full description</a></p>
              </div>

        </td>
    </tr>
</table>
<!-- STAR DEAL CONTENT -->


{{> divider }}

<!-- VIEW ALL BANNER -->
<table border="0" cellpadding="0" cellspacing="0" class="row">
    <tr>
        <td class="wrapper last">
          {{> stardeal-banner-beta }}
        </td>
    </tr>
</table>
<!-- VIEW ALL BANNER -->

{{> divider }}

<!-- PREFERENCE -->
<table border="0" cellpadding="0" cellspacing="0" class="row">
    <tr>
        <td class="wrapper last">
          {{> stardeal-pref }}
        </td>
    </tr>
</table>
<!-- PREFERENCE -->

{{> divider }}
