---
title:          Styles
desc:
layout:         layout-basic
---

<div class="page-styles">

    <h1>{{ title }}</h1>

    <hr>

    <h3>Grid</h3>

    <div class="show-grid">
        <div class="row">

            <div class="col col-12">
                <div class="copy-wrap">
                    12
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col col-6">
                <div class="copy-wrap">
                    6
                </div>
            </div>
            <div class="col col-6">
                <div class="copy-wrap">
                    6
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col col-7">
                <div class="copy-wrap">
                    7
                </div>
            </div>
            <div class="col col-5">
                <div class="copy-wrap">
                    5
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col col-8">
                <div class="copy-wrap">
                    8
                </div>
            </div>
            <div class="col col-4">
                <div class="copy-wrap">
                    4
                </div>
            </div>

        </div>


        <div class="row">

            <div class="col col-9">
                <div class="copy-wrap">
                    9
                </div>
            </div>
            <div class="col col-3">
                <div class="copy-wrap">
                    3
                </div>
            </div>

        </div>
    </div>
</div>