<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="assets/css/style.css">
  </head>
  <body>
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center>
           
            <!-- HEADER BEGIN -->
            <table class="container">
              <tr>
                <td>
                  <table class="row">
                    <tr>
                      <td class="wrapper last theme-lemon">
                        <table class="twelve columns">
                          <tr>
                            <td class="theme-lemon center" align="center" valign="top">
                              <center>
                                {{> guide-header}}
                              </center>
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <!-- HEADER END -->

            <!-- MAIN BEGIN -->
            <table class="container">
              <tr>
                <td>
                  {{> body}} 
                </td>
              </tr>
            </table>
            <!-- MAIN END -->
            
            <!-- FOOTER BEGIN -->
            <table class="container">
              <tr>
                <td>
                  <table class="row">
                    <tr>
                      <td class="wrapper last theme-lemon">
                        <table class="twelve columns">
                          <tr>
                            <td class="theme-lemon center" align="center" valign="top">
                              <center>
                                {{> guide-footer}}
                              </center>
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <!-- FOOTER END -->

          </center>
        </td>
      </tr>
    </table> 
  </body>
</html>