<!-- DIVIDER -->
<table class="row">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td class="divider-double"></td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- DIVIDER -->