<table>
  <tr>
    <td>
      <h2>tsr</h2>
    </td>
  </tr>
  <tr>
    <td>
      <img src="http://placehold.it/10x16/" alt="" style="display:inline">
      <p>rstsr</p>
    </td>
  </tr>
  <tr>
    <td><p>rstsrsr</p></td>
  </tr>
</table>