<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <h2><a href="#">BRGR.CO</a></h2>
    </td>
  </tr>
  <tr>
    <td style="width:10px;height:16px;">
      <img src="http://img.ed4.net/bookatable/images/B2C/Global/Guide/icon-marker.png" class="icon-marker" width="10" height="16" alt="" style="display:inline">
<!--      <p>&nbsp;<a href="#">Soho</a></p>-->
   &nbsp;Soho
    </td>
  </tr>
  <tr>
    <td><p>Burger afternoon tea &amp; a bellini &pound;17</p></td>
  </tr>
</table>