<table class="six columns mod-footer">
  <tr>
    <td class="two sub-columns text-pad-right-zero"><a href="#"><img class="icon-social-google" src="http://img.ed4.net/bookatable/images/B2C/Global/Template_Files/img/google-plus@2x.png" alt="" class="center" width="40" height="40"></a></td>
    <td class="two sub-columns text-pad-right-zero"><a href="#"><img class="icon-social-facebook" src="http://img.ed4.net/bookatable/images/B2C/Global/Template_Files/img/facebook@2x.png" alt="" class="center" width="40" height="40"></a></td>
    <td class="two sub-columns text-pad-right-zero"><a href="#"><img class="icon-social-twitter" src="http://img.ed4.net/bookatable/images/B2C/Global/Template_Files/img/twitter@2x.png" alt="" class="center"  width="40" height="40"></a></td>
    <td class="six sub-columns text-pad-right-zero"><a href="#"><img class="icon-social-ios" src="http://img.ed4.net/bookatable/images/B2C/Global/Template_Files/img/app-download-graphite@2x.png" alt="" class="center" width="118" height="40"></a></td>
    <td class="expander"></td>
  </tr>
</table>