<table class="twelve columns">
	<tr>
		<td style="width: 580px; height: 300px;" class="mob-auto-height">
			<a href="#"><img class="full-width-banner" src="http://img.ed4.net/bookatable/images/B2C/Global/Template_Files/img/app-download-lrf.jpg" alt="" width="580" height="300"></a>
		</td>
	</tr>
</table>