<table class="twelve columns">
	<tr>
		<td style="width: 580px; height: 210px;" class="mob-auto-height">
			<a href="#"><img class="lrf-header" src="http://img.ed4.net/bookatable/images/B2C/Global/Template_Files/img/banner-lrf-last0.jpg" alt="" width="580" height="210"></a>
		</td>
	</tr>
</table>