<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td class="text-pad-zero reset-line-height" style="width:290px; height: 190px;">
      <a href="#"><img src="http://img.ed4.net/bookatable/images/B2C/Global/Guide/new-placeholder-1.jpg" width="290" height="190" alt=""></a>
    </td>
  </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td class="text-pad-full text-pad-bottom-zero" style="font-size:18px;">
      <a href="#" style="color:#2c393e;">Hawksmoor Knightsbridge</a>
    </td>
  </tr>
  <tr>
    <td class="text-pad-full" style="color: #2c393e;">Latest restaurant from the cult status London steakhouse</td>
  </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td class="text-pad-zero reset-line-height" style="width:290px;height:190px;">
      <a href="#"><img src="http://img.ed4.net/bookatable/images/B2C/Global/Guide/new-placeholder-1.jpg" width="290" height="190" alt=""></a>
    </td>
  </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td class="text-pad-full text-pad-bottom-zero" style="font-size:18px;">
      <a href="#" style="color:#2c393e;">Hawksmoor Knightsbridge</a>
    </td>
  </tr>
  <tr>
    <td class="text-pad-full" style="color:#2c393e;">Latest restaurant from the cult status London steakhouse</td>
  </tr>
</table>
