      <table border="0" cellpadding="0" cellspacing="0" class="twelve columns">
        <tr>
          <td class="theme-lemon center" align="center" valign="top">
            <center>
              
              <!-- begin hero -->
              <table border="0" cellpadding="0" cellspacing="0" class="mod-guide-hero">
                <tr>
                  <td>
                  <img src="http://placehold.it/580x300" alt="">
<!--                  <a href="#">
                  <img alt="book now, pay when you dine" class="center" src="http://placehold.it/580x300" height="300" width="580" style="border-collapse: collapse;mso-line-height-rule:exactly; line-height:1px;float:none;">
                 </a>-->
                  </td>
                </tr>
              </table>
              <!-- end hero -->

            </center>
          </td>
          <td class="expander"></td>
        </tr>
      </table>