<table class="twelve columns">
  <tr>
    <td class="theme-white center" align="center" valign="top">
      <center>
        {{> guide-footer-icons }}
      </center>
    </td>
    <td class="expander"></td>
  </tr>
</table>