<table class="twelve columns">
  <tr>
    <td class="theme-pillar-box" align="left" valign="top">
      <!-- begin lead -->
      <table class="mod-guide-lead">
        <tr>
          <td class="text-pad-full">
            <p class="theme-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque assumenda distinctio, consequatur voluptates, iure consequuntur.</p>
            <p class="theme-gold" align="right" style="text-align:right;padding:0;margin:0;line-height:1;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta magnam quisquam assumenda ratione blanditiis distinctio culpa, rerum facere expedita aut!</p>
            <p class="theme-soup">Lorem <a href="#">ipsum dolor sit</a> amet, consectetur adipisicing elit. Voluptates dolorum minus, itaque consequuntur minima ab qui deleniti molestias ad? Nisi?</p>
            <p class="theme-lemon" style="text-align:center;">Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipisicing elit. Incidunt, repellat, dolorum. Odio, nobis sit similique enim ducimus earum, esse laudantium?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo <a href="#">enim tenetur labore quo dolore corporis</a> ducimus, consectetur blanditiis, nulla praesentium.</p>
          </td>
        </tr>
      </table>
      <!-- end lead -->      
    </td>
    <td class="expander"></td>
  </tr>
</table>