      <table class="twelve columns">
        <tr>
          <td class="theme-lemon center" align="center" valign="top">
            <center>
              
              <!-- begin hero -->
              <table class="mod-guide-hero">
                <tr>
                  <td><a href="#">
                  <img alt="book now, pay when you dine" class="center" src="http://placehold.it/1160x600" height="300" width="580">
                  </a></td>
                </tr>
              </table>
              <!-- end hero -->

            </center>
          </td>
          <td class="expander"></td>
        </tr>
      </table>