
  <!-- begin hero -->
  <table class="mod-guide-hero">
    <tr>
      <td><a href="#"><img alt="book now, pay when you dine" class="center" src="http://placehold.it/1160x600" height="300" width="580"></a></td>
    </tr>
  </table>
  <!-- end hero -->
