<table class="twelve columns">
	<tr>
		<td>


			<table class="block-grid five-up">
				<tr>
					<td class="theme-pillar-box" style="padding:10px;">

						<table class="button lrf-button radius">
							<tr>
								<td>
									<a href="#">UNDER &pound;10</a>
								</td>
							</tr>
						</table>

					</td><td class="theme-gold" style="padding:10px;"> <!-- Make sure the tags are directly next to each other -->

					<table class="button lrf-button radius">
						<tr>
							<td>
								<a href="#">&pound;10</a>
							</td>
						</tr>
					</table>

					</td><td class="theme-gold" style="padding:10px;"> <!-- Make sure the tags are directly next to each other -->

					<table class="button lrf-button radius">
						<tr>
							<td>
								<a href="#">&pound;10</a>
							</td>
						</tr>
					</table>

					</td><td class="theme-gold" style="padding:10px;"> <!-- Make sure the tags are directly next to each other -->

					<table class="button lrf-button radius">
						<tr>
							<td>
								<a href="#">&pound;10</a>
							</td>
						</tr>
					</table>

					</td><td class="theme-gold" style="padding:10px;"> <!-- Make sure the tags are directly next to each other -->

											<table class="button lrf-button radius">
							<tr>
								<td>
									<a href="#">OVER &pound;40</a>
								</td>
							</tr>
						</table>

					</td>
				</tr>
			</table>

		</td>
	</tr>
</table>

<!--
<table class="twelve columns">
<tr>
<td>
<table class="button lrf-button radius">
<tr>
<td>
<a href="#" class="mod-buttons-a">UNDER &pound;10</a>
</td>
</tr>
</table>
</td>
<td>
<table class="button lrf-button radius">
<tr>
<td>
<a href="#" class="mod-buttons-a">UNDER &pound;15</a>
</td>
</tr>
</table>
</td>

<td>
<table class="button lrf-button radius">
<tr>
<td>
<a href="#" class="mod-buttons-a">UNDER &pound;25</a>
</td>
</tr>
</table>
</td>
<td>
<table class="button lrf-button radius">
<tr>
<td>
<a href="#" class="mod-buttons-a">BOOK NOW</a>
</td>
</tr>
</table>
</td>

<td>
<table class="button lrf-button radius">
<tr>
<td>
<a href="#" class="mod-buttons-a">OVER &pound; 40</a>
</td>
</tr>
</table>
</td>
<td class="expander"></td>
</tr>
</table>

-->
