<table class="twelve columns">
	<tr>
		<td>


			<table class="block-grid five-up">
				<tr>
					<td class="lrf-button-td">

						<table class="button lrf-button theme-lrf-pink radius">
							<tr>
								<td>
									<a href="#" style="font-size:15px;">&nbsp;UNDER &pound;10&nbsp;</a>
								</td>
							</tr>
						</table>

					</td><td class="lrf-button-td"> <!-- Make sure the tags are directly next to each other -->

					<table class="button lrf-button theme-lrf-orange radius">
						<tr>
							<td>
								<a href="#">&pound;10 - &pound;20</a>
							</td>
						</tr>
					</table>

					</td><td class="lrf-button-td"> <!-- Make sure the tags are directly next to each other -->

					<table class="button lrf-button theme-lrf-green-grass radius">
						<tr>
							<td>
								<a href="#">&pound;20 - &pound;30</a>
							</td>
						</tr>
					</table>

					</td><td class="lrf-button-td"> <!-- Make sure the tags are directly next to each other -->

					<table class="button lrf-button theme-lrf-purple radius">
						<tr>
							<td>
								<a href="#">&pound;30 - &pound;40</a>
							</td>
						</tr>
					</table>

					</td><td class="lrf-button-td"> <!-- Make sure the tags are directly next to each other -->

											<table class="button lrf-button theme-lrf-jade radius">
							<tr>
								<td>
									<a href="#">OVER &pound;40</a>
								</td>
							</tr>
						</table>

					</td>
				</tr>
			</table>

		</td>
	</tr>
</table>

<!--
<table class="twelve columns">
<tr>
<td>
<table class="button lrf-button radius">
<tr>
<td>
<a href="#" class="mod-buttons-a">UNDER &pound;10</a>
</td>
</tr>
</table>
</td>
<td>
<table class="button lrf-button radius">
<tr>
<td>
<a href="#" class="mod-buttons-a">UNDER &pound;15</a>
</td>
</tr>
</table>
</td>

<td>
<table class="button lrf-button radius">
<tr>
<td>
<a href="#" class="mod-buttons-a">UNDER &pound;25</a>
</td>
</tr>
</table>
</td>
<td>
<table class="button lrf-button radius">
<tr>
<td>
<a href="#" class="mod-buttons-a">BOOK NOW</a>
</td>
</tr>
</table>
</td>

<td>
<table class="button lrf-button radius">
<tr>
<td>
<a href="#" class="mod-buttons-a">OVER &pound; 40</a>
</td>
</tr>
</table>
</td>
<td class="expander"></td>
</tr>
</table>

-->
