<!-- ROUNDUP ITEM -->
<table border="0" cellpadding="0" cellspacing="0" class="row">
	<tr>
		<td id="ms-roundup-content-1" class="wrapper" style="border-top: 2px dotted #eeeeb8;padding-top:10px;padding-bottom:10px;">           

		  <table border="0" cellpadding="0" cellspacing="0" class="six columns">
				<tr>
					<td><a href="#" style="line-height:1;"><img src="http://img.ed4.net/bookatable/images/B2C/Global/multisearch/multi-list-img-test@2x.jpg" alt="" width="280" height="230"></a></td>
					<td class="expander"></td>
				</tr>
			</table>

		</td>
		
		<td id="ms-roundup-content-2" class="wrapper last mod-roundup-content"  style="border-top-width:2px; border-top-style: dotted; border-top-color: #eeeeb8;padding-top:10px;padding-bottom:10px;">
			
		  <table border="0" cellpadding="0" cellspacing="0" class="six columns">
				<tr>
					<td><a href="#" style="line-height:1;"><img src="http://img.ed4.net/bookatable/images/B2C/Global/multisearch/multi-list-content-long@2x.png" alt="" width="280" height="299"></a></td>
					<td class="expander"></td>
				</tr>
			</table>

		</td>
	</tr>
</table>
<!-- ROUNDUP ITEM -->