<!-- ROUNDUP ITEM -->
<table border="0" cellpadding="0" cellspacing="0" class="row mod-roundup">
	<tr>
		<td id="ms-roundup-content-1" class="wrapper mod-roundup-panel" style="border-top: 2px dotted #eeeeb8;padding-top:10px;padding-bottom:10px;">           

			<table border="0" cellpadding="0" cellspacing="0" class="six columns theme-graphite-light">
				<tr>
					<td class="text-pad-full-sm txtcolor-white">Michelin-recommended Indian</td>
					<td class="expander"></td>
				</tr>
				
				<tr>
					<td style="width:280px;height:190px;"><a href="#"><img src="http://placehold.it/560x380" alt="" width="280" height="190"></a></td>
				</tr>
			</table>

		</td>
		
		<td id="ms-roundup-content-2" class="wrapper last mod-roundup-content"  style="border-top-width:2px; border-top-style: dotted; border-top-color: #eeeeb8;padding-top:10px;padding-bottom:10px;">

			<table border="0" cellpadding="0" cellspacing="0" class="six columns">
				<tr>
					<td class="six sub-columns review-stars-sm-td" style="font-size:14px;line-height:1;padding-bottom:10px;color:#69B4CE;"><a href="#"><img src="http://img.ed4.net/bookatable/images/B2C/Global/Template_Files/img/icon-stars-3.5.png" alt="" width="81" height="16" class="review-stars-sm">&nbsp;(177)</a></td>
					<td class="six sub-columns" style="font-size:14px;line-height:1;text-align:right; color: #69B4CE;padding-right:0;" align="right"><a href="#"> Location&nbsp;<img src="http://img.ed4.net/bookatable/images/B2C/Global/Template_Files/img/icon-marker-light-blue.png" alt="" class="marker-icon-img" width="12" height="16" align="right"></a></td>
<!--					<td class="one sub-columns" align="right" class="marker-icon-td" style="padding: 0;text-align:right;"><img src="http://img.ed4.net/bookatable/images/B2C/Global/Template_Files/img/icon-marker-light-blue.png" alt="" class="marker-icon-img" width="12" height="16" align="right"></td>-->
				</tr>
			</table>
			
		  <table border="0" cellpadding="0" cellspacing="0" class="six columns">
				<tr>
					<td><h2><a href="#" class="txtcolor-graphite-light" style="line-height:1;">ABC</a></h2></td>
					<td class="expander"></td>
				</tr>
				<tr>
					<td class="text-pad-bottom-xs"><h3 class="txtcolor-terracotta">3.</h3></td>
					<td class="expander"></td>
				</tr>
				<tr>
					<td class="button-roundup-td">
						<table border="0" cellpadding="0" cellspacing="0" class="button radius tertiary" align="absbottom" valign="bottom">
							<tr>
								<td>
									<a href="#">BOOK</a>
								</td>
								<td class="expander"></td>
							</tr>
						</table>
			    </td>
				</tr>
			</table>

		</td>
	</tr>
</table>
<!-- ROUNDUP ITEM -->