<table border="0" cellpadding="0" cellspacing="0" class="row">
  <tr>
    <td class="wrapper theme-gold">

      <table border="0" cellpadding="0" cellspacing="0" class="six columns">
        <tr>
          <td>

            <h2>blah</h2>

          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
    <td class="wrapper last theme-gold">

      <table border="0" cellpadding="0" cellspacing="0" class="six columns">
       <tr>
       	<td class="theme-hulk-green"><img src="http://localhost:8000/assets/imgs/stars-3.5.png" alt="" width="77" height="16"> blah (blah)</td>
       	<td class="theme-soup">&nbsp;LOCATION&nbsp;<img src="http://placehold.it/16x16/ff0000/ffffff" alt="" style="display:inline;float:none;">&nbsp;</td>
       </tr>
        <tr>
          <td>
          <h2>Lorem ipsum dolor sit amet</h2>
          </td>
          <td class="expander"></td>
        </tr>
        
        <tr>
          <td>
          <h3>Lorem ipsum dolor sit amet</h3>
          </td>
          <td class="expander"></td>
        </tr>
        
        <tr>
          <td>
          <table class="button">
            <tr>
              <td>
                <a href="#">BOOK</a>
              </td>
            </tr>
          </table>
          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>