<table class="twelve columns">
	<tr>
		<td class="theme-graphite text-pad-bottom text-pad-top" align="left"
			valign="top">
			<table class="mod-header">
				<tr>
					<td style="width:188px;height:33px;" class="header-bat-logo-td"><a href="http://www.bookatable.com/"><img class="header-bat-logo-img" src="http://img.ed4.net/bookatable/images/B2C/Global/Template_Files/img/logo-bat-large@2x.png" alt="Bookatable" height="33" width="188"></a></td>
				</tr>
			</table>
		</td>
		<td class="expander"></td>
	</tr>
</table>


