<table border="0" cellpadding="0" cellspacing="0" class="twelve columns">
  <tr>
    <td>
      <table border="0" cellpadding="0" cellspacing="0" class="mod-header-text">
        <tr>
          <td class="text-pad-full text-pad-top-zero" style="line-height:1.4;font-weight:200;">

					<p class="txtcolor-white" style="font-weight:200;">On the beautiful South Bank, Las Iguanas – Royal Festival Hall is a fun and lively restaurant serving authentic Latin American Cuisine. Las Iguanas offers outdoor seating for al fresco dining, a stone’s throw from the Thames <a href="#" style="color: #69B4CE">necessitatibus totam</a>.</p>

          </td>
        </tr>
      </table>
    </td>
    <td class="expander"></td>
  </tr>
</table>