<table class="mod-stardeal-hero">
  <tr>
    <td style="line-height:1;">
      <a href="#" style="line-height:1;"><img alt="" height="350" src="http://placehold.it/1160x700" width="580"></a>
    </td>
  </tr>
</table>