<table class="twelve columns">
  <tr>
    <td>

      <table class="mod-stardeal-hero">
        <tr>
          <td style="line-height:1">
            <a href="#" style="line-height:1;">
              <!-- build:[src] _MAINIMAGE__ -->
              <img alt="" height="350" width="580" src="http://img.static-bookatable.com/afternoon-tea-at-the-ritz-london-3.jpg?id=55e348cb211bb5349b7bdb103d6e1d14.jpg&w=580&h=350&mode=crop&404=bat2/404-restaurant.jpg">
              <!-- /build -->
            </a>
          </td>
        </tr>
      </table>

    </td>
    <td class="expander"></td>
  </tr>
</table>