            <table class="mod-menu">
              <tr>
                <td style="text-align:center;" class="theme-french">

                        <b><span>Sample Menu</span><br>
                            <br>
                            Champagne cocktail on arrival<br>
                            <br>
                            Starters</b><br>
                        <br>
                        Homemade salmon gravadlax, lemon mousse, rye bread, capers, pickled shallots<br>
                        <br>
                        Ham hock &amp; black pudding terrine, apple purée, sweet pickled vegetables, crouton, celery cress<br>
                        <br>
                        Chicken liver parfait, red onion marmalade, quince, beetroot,
                        'Melba' toast<br>
                        <br>
                        <b>Main Courses</b><br>
                        <br>
                        Homemade potato gnocchi, baby spinach, pine nuts, ricotta, pumpkin, sage (V)<br>
                        <br>
                        Pan fried 'Loch Duart' salmon, beetroot &amp; horseradish purée, samphire, chive beurre blanc<br>
                        <br>

                        <br>
                        <b>Desserts</b><br>
                        <br>
                        White chocolate mousse, poached rhubarb, pistachio granola, dark chocolate<br>
                        <br>
                        Brioche &amp; calvados baba, custard foam, blackberry sorbet<br>
                        <br>
                        <br>
                    
                
                </td>
              </tr>
            </table>