<!-- all star deals banner -->
<table border="0" cellpadding="0" cellspacing="0" class="twelve columns">
  <tr>
    <td class="center">
      <center>                        
        <table border="0" cellpadding="0" cellspacing="0" class="mod-banner-beta">
          <tr>
            <td style="width:580px;height:61px;line-height:1;" class="mod-banner-beta-td">
              <!-- build:[href] _LINK__ -->
              <a href="#" style="line-height:1;" class="mod-banner-beta-a">
                <!-- /build -->

                <!-- build:[src] _BANNER__ -->
                <img width="580" height="61" alt="View all of our fabulous Star Deals" class="mod-banner-beta-img center" src="http://img.ed4.net/bookatable/images/B2C/Global/Template_Files/img/sd-banner-en 580px@x2.png">
                <!-- /build -->
              </a>
            </td>
          </tr>
        </table>
      </center>
    </td>
    <td class="expander"></td>
  </tr>
</table>
<!-- all star deals banner -->