            <table class="mod-buttons" style="width:100%;">
              <tr>
                <td class="mod-buttons-td" style="width:260px;padding:0 10px 0 10px;">
                  <table class="button radius">
                    <tr>
                      <td>
                        <a href="#" class="mod-buttons-a">BOOK NOW</a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="mod-buttons-td" style="width:260px;padding:0 10px 0 10px;">
                  <table class="button radius secondary">
                    <tr>
                      <td>
                        <a href="#" class="mod-buttons-a">VIEW MAP</a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>