<table class="row">
  <tr>
    <td class="wrapper last">

      <table class="twelve columns">
        <tr>
					<td class="center text-pad-top text-pad-bottom view-all-td theme-soup-lt">
        	<center>
						<h2 class="view-all"><a href="#">VIEW ALL <strong>STAR DEALS</strong></a></h2>
         	</center>
         </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>