<table class="mod-booknow">
  <tr>
    <td class="mod-booknow-a" style="padding-top:15px;">
      <table class="button"  style="width:165px;">
        <tr>
          <td>
            <a href="#">BOOK NOW</a>
          </td>
        </tr>
      </table> 
    </td>
  </tr>
</table>