<table class="twelve columns">
  <tr>
    <td class="theme-white">
      <table class="mod-pref">
        <tr>
          <td class="mod-pref-para first">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis <a href="#">reprehenderit pariatur</a>, soluta consectetur cupiditate. Iste neque unde eaque adipisci voluptates.</td>
        </tr>
        <tr>
          <td class="mod-pref-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quo <a href="#">sapiente</a> optio asperiores sequi repudiandae, nostrum velit voluptate eveniet animi.</td>
        </tr>
      </table></td>
    <td class="expander"></td>
  </tr>
</table>
