<table class="mod-banner">
  <tr>
    <td style="width:480px;height:56px;line-height:1;" class="mod-banner-td">
    <a href="#" style="line-height:1;" class="mod-banner-a"><img class="mod-banner-img center" src="http://img.ed4.net/bookatable/images/B2C/Global/Template_Files/img/banner-stardeals.png" width="460" height="56" alt=""></a>
    </td>
  </tr>
</table>

