            <table class="mod-review">
              <tr>
                <td class="review-stars"><a href="#"><img width="135" height="26" src="http://img.ed4.net/bookatable/images/B2C/Global/Template_Files/img/icon-stars-3.5.png" alt=""></a></td>
              </tr>
              <tr>
                <td  class="review-number"><p>4.5 (based on 111111 reviews)</p></td>
              </tr>
            </table>