<table class="mod-desc">
    <tr>
        <td>
            <h4>HEADER STUFF</h4>

            <p>sratsar asrtne oainst ioanrsti oenarstinarsiotnarsoint aroisntiorasent ioersantoirs</p>

            <p>Lorem ipsum <a href="#">dolor sit amet</a>, consectetur adipisicing elit. Deserunt dolorum deleniti
                exercitationem numquam expedita aliquid assumenda velit ullam labore vitae quo amet, explicabo optio
                officiis necessitatibus quidem. Tempora eos, eum quisquam iusto aut consequatur voluptatibus ipsum
                temporibus porro! Soluta.</p>

            <p>A constant on London's fine dining scene since opening in 1874, Criterion offers exquisite European
                cuisine in an opulent.</p>
        </td>
    </tr>
</table>