            <table class="mod-review">
              <tr>
                <td class="review-stars"><a href="#">
                <!-- build:[src] _STAR1__ -->
                <img width="135" height="26" src="http://img.ed4.net/bookatable/images/B2C/Global/Template_Files/img/icon-stars-3.5.png" alt="">
                <!-- /build -->
                </a></td>
              </tr>
              <tr>
                <td  class="review-number"><p>
                <!-- build:gridSymbol _STARRATING__ -->4.5<!-- /build --> 
                (based on 
                <!-- build:gridSymbol _REVIEWSNUMBER__ -->111111<!-- /build -->
                 reviews)</p></td>
              </tr>
            </table>