<table class="mod-header-text">
  <tr>
    <td style="padding-left:15px;padding-top:15px;"><h2><a href="#">Lorem ipsum dolor sit amet, consectetur.</a></h2></td>
  </tr>
  <tr>
    <td style="padding-left:15px;padding-bottom:15px;">
      <h3><a href="#">3 courses &amp; a champagne cocktail £25 per person</a></h3>
    </td>
  </tr>
</table>