<table class="mod-strapline">
  <tr>
    <td style="width:580px;height:39px;line-height:1;" class="mod-strapline-td">
    <a href="#" style="line-height:1;" class="mod-strapline-a"><img class="mod-strapline-img center" src="http://img.ed4.net/bookatable/images/B2C/Global/Template_Files/img/banner-stardeals-strapline.png" width="580" height="39" alt=""></a>
    </td>
  </tr>
</table>