            <table class="mod-quote">
              <tr>
                <td class="quote-text-td lede"><a href="#"><span class="quote-text lede">&ldquo;The trouble with the world is that the stupid are cocksure and the intelligent are full of doubt.&rdquo;</span></a> </td>
              </tr>
              <tr>
                <td class="text-pad text-pad-top"><strong>Bertrand Russell</strong> from Trellech</td>
              </tr>
              <tr>
                <td class="text-pad text-pad-bottom">8 Dec 1955</td>
              </tr>
            </table>