<table border="0" cellpadding="0" cellspacing="0" class="twelve columns">
  <tr>
    <td class="theme-white">
      <table border="0" cellpadding="0" cellspacing="0" class="mod-pref">
        <tr>
          <td class="mod-pref-para first">Anytime you want to adjust the frequency in which you receive our offers you can visit our <a href="#">preference centre</a> and update your settings. In the unlikely event that you just don't want our lovely emails anymore, then you can of course <a href="#">unsubscribe</a> there too - but that would make us very sad :(</td>
        </tr>
      </table></td>
    <td class="expander"></td>
  </tr>
</table>