            <table class="mod-review-full-width">
              <tr>
                <td class="review-stars" style="padding-left:15px;padding-top:15px;"><a href="#">
                <!-- build:[src] _STAR1__ -->
                <img width="90" height="17" src="http://img.ed4.net/bookatable/images/B2C/Global/Template_Files/img/icon-stars-3.5.png" class="stars-90" alt="">
                <!-- /build -->
                </a></td>
                <td class="review-number" style="padding-left:15px;padding-top:15px;"><p><a href="#" style="color: #69B4CE">
                9123 Reviews</a></p></td>
              </tr>
            </table>