            <table class="mod-buttons">
              <tr>
                <td>
                  <table class="button"  style="width:165px;">
                    <tr>
                      <td>
                        <a href="#">BOOK NOW</a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td>
                  <table class="button secondary"  style="width:165px;">
                    <tr>
                      <td>
                        <a href="#">VIEW MAP</a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>