<table class="twelve columns">
  <tr>
    <td class="center">
      <center>                        
        <table class="mod-banner">
          <tr>
            <td style="width:480px;height:56px;line-height:1;" class="mod-banner-td">
              <!-- build:[href] _LINK__ -->
              <a href="#" style="line-height:1;" class="mod-banner-a">
                <!-- /build -->

                <!-- build:[src] _BANNER__ -->
                <img class="mod-banner-img center" src="http://img.ed4.net/bookatable/images/B2C/Global/Template_Files/img/banner-stardeals.png" width="460" height="56" alt="">
                <!-- /build -->
              </a>
            </td>
          </tr>
        </table>

      </center>
    </td>
    <td class="expander"></td>
  </tr>
</table>



