<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<table class="body">
    <tr>
        <td class="center" align="center" valign="top">
            <center>

                <!-- HEADER BEGIN -->
                <table class="container header">
                    <tr>
                        <td>
                            <table class="row">
                                <tr>
                                    <!-- removed the normal last class and add super border to fix alignment -->
                                    <td class="wrapper theme-graphite super-border-right">
                                    	{{> standard-header}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <!-- HEADER END -->

                <!-- MAIN BEGIN -->
                <table class="container main">
                    <tr>
                        <td class="super-border theme-white">
                            {{> body}}
                        </td>
                    </tr>
                </table>
                <!-- MAIN END -->
                
                {{>divider}}
                
                <!-- FOOTER BEGIN -->
                <table class="container footer">
                    <tr>
                        <td>
                            <table class="row">
                                <tr>
                                    <td class="wrapper last center">

                                        <center>
                                            {{> footer-icons }}
                                        </center>

                                    </td>

                                </tr>
                            </table>

                            {{> divider }}

                            <table class="row">
                                <tr>
                                    <td class="wrapper last">
										{{> footer-text }}
                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                </table>
                <!-- FOOTER END -->

                {{> divider }}

            </center>
        </td>
    </tr>
</table>
</body>
</html>